/* css for ltie8 */
@font-face {
    font-family: "calibri";
    src: url("../fonts/calibri.eot");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "ptsans";
    src: url("../fonts/ptsans.eot");
    font-weight: normal;
    font-style: normal;
}