/* --------------- ares-slider --------------- */
.ares-slider {
    margin: 0 auto;
    width: 960px;
    height: 300px;
    position: relative;
    text-align: center;
    margin-bottom: 8px;
    margin-top: 30px;
}
.ares-slider a{
    width: 960px;
    height: 300px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.ares-slider img {
    display: block;
}
.ares-slider__next,
.ares-slider__prev {
    position: absolute;
    content: '';
    background: url("../img/slides.png");
    width: 21px;
    height: 40px;
    top: 50%;
    margin-top: -20px;
    left: -20px;
    cursor: pointer;

}
.ares-slider__next {
    background-position: right 0;
    left: auto;
    right: -20px;
}
.ares-slider__points {
    display: inline-block;
    position: relative;
    top: 268px;
    background: rgba(0,0,0,0.4);
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 9px;
}
.ares-slider__points li {
    width: 15px;
    height: 15px;
    float: left;
    background: url("../img/points.png");
    margin-left: 8px;
    cursor: pointer;
}
.ares-slider__points li:first-child {
    margin-left: 0;
}
.ares-slider__points li.active {
    background: url("../img/points_act.png");
    cursor: default;
}
.ares-slider__points li:hover{
    background: url("../img/points_act.png");
}
/* --------------- /slider --------------- */