@charset "utf-8";
/*
    main styles
    version: 15.01.2013
    
    Style to null

    fonts

    site

    header

    logo

    main-menu

    language

    footer

*/

/* --------------- Style to null --------------- */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,dl, dt, dd, 
ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, 
details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, 
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    font-size: 100%;
}
a {    
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
table {                        
    border-collapse: collapse; 
    border-spacing: 0;
}
td, td img {
    vertical-align: top;            
} 
input, select, button, textarea {
    margin: 0;                 
    font-size: 100%;             
}
input[type="text"], input[type="password"], textarea, input[type="email"], input[type="phone"], input[type="number"] {
    padding: 0;     
    font: 12px Arial, Helvetica, sans-serif;
}
input[type="checkbox"] {         
    vertical-align: bottom;
}
input[type="radio"] {
    vertical-align: text-bottom;
}
sub {
    vertical-align: sub;
    font-size: smaller;
}
sup {
    vertical-align: super;
    font-size: smaller;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display:block;
}

ul,
ol {
     list-style:none;
}
html {
    overflow-y: scroll;
    overflow-x: auto;
}
html,
body {
    height: 100%;
}
body {
    line-height: 1;
    color: #000;
    text-align: left;
    background: url("../img/bg.jpg");
    z-index: 1;
    position: relative;
}

input [type='text']{
    padding: 0;
}
input, select, button, textarea {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
input,
textarea {
    outline: none;    
}
textarea {
    resize:none; 
    overflow: auto;
}
label, input[type="button"], input[type="submit"], button {
    cursor: pointer;
}
a, a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:focus, a:active {
    text-decoration: none;
}
input[type="search"]:focus { 
    outline: none;
}
input[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner { 
    padding:0; 
    border:0; 
}
:focus {
    outline: none;
}
input:invalid {
    outline: none;
    -moz-box-shadow: none;
    border: none;
}
::-webkit-input-placeholder {
    color: #000;
}
:-moz-placeholder {
    color: #000;
}
.placeholder {
    color: #000;
}
/* --------------- /Style to null --------------- */

/* --------------- b-content --------------- */
.content {

}
.content h1 {
    font-size: 150%;
    margin-bottom: 20px;
}
.content h2 {
    font-size: 140%;
    margin-bottom: 15px;
}
.content h3 {
    font-size: 130%;
    margin-bottom: 12px;
}
.content h4 {
    font-size: 120%;
    margin-bottom: 10px;
}
.content h5 {
    font-size: 110%;
    margin-bottom: 10px;
}
.content h6 {
    font-size: 100%;
    margin-bottom: 10px;
}
.content p {
    margin-bottom: 15px;
}
.content ul {
    list-style: disc;
    margin: 0 15px 10px 15px;
}
.content ul ul {
    margin: 10px 0 10px 25px;
}
.content ol {
    list-style: decimal;
    margin: 0 15px 10px 20px;
}
.content ol ol {
    margin: 10px 0 10px 25px;
}
.content li {
    margin-bottom: 5px;
}
.content table {
    margin-bottom: 15px;
    font-size: 100%;
    width: auto;
    border: 1px solid #000;
}
.content th,
.content td {
    border: 1px solid #000;
    padding: 4px;
    text-align: left;
}
.content th {
    font-weight: bold;
    text-align: center;
}
.content a,
.content a font {
    color: #0000ff;
    text-decoration: underline;
}

.content a:hover,
.content a:hover font {
    color: #0000ff;
    text-decoration: none;
}

.content img[align=left] {
    margin: 0 10px 10px 0;
    float: left;
}
.content img[align=right] {
    margin: 0 0 10px 10px;
    float: right;
}
.content dl {
    margin: 0 0 15px 0;
}
.content dt {
    font-weight: bold;
    margin-bottom: 2px;
}
.content dd {
    margin-bottom: 5px;
}
.content hr {
    height: 1px;
    border: none;
    color: #aaa;
    background: #aaa;
    margin: 10px 0;
    clear: both;
}
/* --------------- /b-content --------------- */

font-family: 'Open Sans Condensed', sans-serif;
/* --------------- site --------------- */
.site {
    min-height: 100%;
    min-width: 1000px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
    .site:after {
        content: '';
        display: block;
        clear: both;
        width: 100%;
        height: 100px;
    }
.site__layout {
    width: 1000px;
    margin: 0 auto;
}
/* --------------- /site --------------- */

/* --------------- header --------------- */
.header {
    position: relative;
    height: 183px;

}
/* --------------- /header --------------- */



/* --------------- logo --------------- */
.logo {
    position: absolute;
    top: 7px;
    right: 0;
}
/* --------------- /logo --------------- */

/* --------------- main-menu --------------- */
.main-menu {
    position: absolute;
    bottom: 0;
    left: 0;
    border: 1px solid #58b0e7;
    height: 51px;
    width: 1000px;
    box-shadow: 0 0 0 #6c9db7;
    background: url("../img/menu-line.png");
    overflow: hidden;
}
.main-menu__layout{
    width: 1010px;
}
.main-menu__lnk{
    display: block;
    height: 51px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px 1px #6fa1c9;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
    line-height: 47px;
    padding: 0 47px;
}
.main-menu__lnk:hover{
}
.main-menu__item:first-child{
    background: none;
}
.main-menu__item{
    float: left;
    height: 51px;
    background: url("../img/line.png") no-repeat;
}
.longMark{
    width: 250px;
    text-align: center;
}
.longMark .main-menu__lnk{
    line-height: 21px;
    padding: 0;
}
.main-menu__lnk:hover{
    background: url("../img/active-menu.png");
}
.main-menu__item_active .main-menu__lnk{
    background: url("../img/active-menu.png");
    cursor: default;
}
/* --------------- /main-menu --------------- */
.slogan{
    color: #003f6f;
    font-size: 19px;
    font-style: italic;
    text-shadow: 0 1px 1px #fff;
    position: absolute;
    top: 59px;
    left: 0;
    font-family: 'Open Sans', sans-serif;
}
.slogan span{
    margin-left: 48px;
    display: block;
    margin-top: 3px;
}
.headBut{
    position: absolute;
    top: 48px;
    left: 489px;
}

.headBut a{
    display: block;
    height: 29px;
    line-height: 33px;
    margin-bottom: px;
    color: #7b0d6e;
    font-size: 12px;
    font-weight: bold;
    font-family: tahoma;
    padding-left: 38px;
}
.headBut a:hover{
    text-decoration: underline;
}
.ask{
    background: url("../img/pic1.png") no-repeat left center;
}
.buy{
    background: url("../img/pic2.png") no-repeat;
}
.asideMenu{
    width: 264px;
    background: #f3f3f3;
    border: 1px solid #cfd4d5;
    padding: 12px 48px 0 9px;
}
.asideMenu li:first-child{
    padding-top: 0;
    border: none;

}
.asideMenu li{
    border-top: 2px solid #bcd7e1;
    padding-top: 12px;
    margin-bottom: 10px;
}
.asideMenu li a{
    color: #00355d;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    padding-left: 57px;
    display: block;
    white-space: pre-line;
    min-height: 36px;
    font-family: arial;
}
.asideMenu li a:hover{
    text-decoration: underline;
}
.menuType1{
    background: url("../img/pic3.png") no-repeat 6px center;
}
.menuType2{
    background: url("../img/pic4.png") no-repeat 11px center;
}
.menuType3{
    background: url("../img/pic5.png") no-repeat 12px center;
}
.menuType4{
    background: url("../img/pic6.png") no-repeat 9px center;
}
.menuType5{
    background: url("../img/pic7.png") no-repeat 11px center;
}
.menuType6{
    background: url("../img/pic8.png") no-repeat 9px center;
}
.menuType7{
    background: url("../img/pic9.png") no-repeat 9px center;
}
.menuType8{
    background: url("../img/pic10.png") no-repeat 6px center;
}
.menuType9{
    background: url("../img/pic11.png") no-repeat 7px center;
}
.leftSideBar{
    width: 323px;
    float: left;
    margin-top: 40px;
    position: relative;
}
.leftSideBar:after{
    content: "";
    background: url("../img/girl.png");
    width: 325px;
    height: 559px;
    position: absolute;
    top: -20px;
    left: 172px;

}
.discount{
    position: absolute;
    top: -41px;
    right: -172px;
    background: url("../img/action.png");
    width: 116px;
    height: 118px;
    z-index: 2000;
}

.rightContainer{
    width: 503px;
    margin-top: 31px;
    float: right;
}
.videoPlayer{
    border: 1px solid #a7c2ce;
    border-radius: 5px 5px 0 0;
    margin-bottom: 7px;
}
.videoContainer{
    padding: 10px 11px 0 11px;
    background: #f7f7f7;
    border-radius: 5px 5px 0 0;
}
.duration{
    position: relative;
    background: url("../img/video-lina-back.png");
    height: 8px;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    width: 372px;
    float: left;
    margin-left: 17px;
    margin-right: 6px;

}
.progress{
    background: url("../img/video-lina-back2.png");
    height: 6px;
    border: 1px solid #3a5660;
    width: 40%;
    border-radius: 5px;
    position: relative;
}
.heandle:hover{
    opacity: 0.9;
}
.heandle{
    background: url("../img/heandle.png");
    width: 19px;
    height: 18px;
    position: absolute;
    top: -6px;
    right: -5px;
    display: block;
    cursor: pointer;
}
.progressTime{
    float: left;
    font-family: tahoma;
    font-size: 11px;
    color: #6e6e6e;
}
.videLine{
    overflow: hidden;
    padding: 3px 0 3px 0;
}
.videoContarol{
    position: relative;
    border-top: 1px solid #c7c7c7;
    background: url("../img/control-back.png");
    height: 40px;
}
.fullScreen:hover,
.videoNext:hover,
.videoPlay:hover,
.videoPrev:hover,
.volumePower:hover,
.volume:hover{
    opacity: 0.8;
}
.volume{
    position: absolute;
    background: url("../img/volume.png");
    width: 23px;
    height: 24px;
    top: 5px;
    left: 28px;
    cursor: pointer;
}
.volumePower{
    position: absolute;
    background: url("../img/volume-power.png");
    width: 24px;
    height: 19px;
    top: 7px;
    left: 57px;
    cursor: pointer;
}
.videoPrev{
    background: url("../img/prew.png");
    width: 23px;
    height: 24px;
    position: absolute;
    cursor: pointer;
    top: 5px;
    left: 110px;

}
.videoPlay{
    background: url("../img/play.png");
    width: 29px;
    height: 29px;
    position: absolute;
    cursor: pointer;
    top: 3px;
    left: 170px;

}
.videoNext{
    background: url("../img/next.png");
    width: 24px;
    height: 24px;
    position: absolute;
    cursor: pointer;
    top: 5px;
    left: 228px;

}
.fullScreen{
    background: url("../img/full-screen.png");
    width: 23px;
    height: 24px;
    position: absolute;
    cursor: pointer;
    top: 5px;
    left: 290px;
}
.newVideo:hover{
    opacity: 0.9;
}
.newVideo{
    position: absolute;
    top: 6px;
    right: 12px;
    background: url("../img/newVideo.png");
    width: 131px;
    height: 24px;
    text-indent: -5000px;
}
.reviewNewsBlock{
    background: url("../img/back-reiveiq.png");
    width: 503px;
    height: 210px;

}
.newsBlock{
    position: relative;
    padding: 4px 28px 0 28px;
}
.reviewBlock{
    position: relative;
    padding: 0px 28px;
}
.topicType{
    color: #003964;
    font-family: tahoma;
    font-size: 12px;
    margin-bottom: 0;
}
.prev2,
.prev{
    position: absolute;
    top: 31px;
    left: 9px;
    padding: 0;
    background: url("../img/gall-right.png");
    width: 12px;
    height: 53px;
    border: none;
    opacity: 0.5;
    text-indent: -5000px;
}
.next2,
.next{
    position: absolute;
    top: 31px;
    opacity: 0.5;
    right: 9px;
    padding: 0;
    background: url("../img/gall-left.png");
    width: 12px;
    height: 52px;
    text-indent: -5000px;
    border: none;
}
.prev2:hover,
.next2:hover,
.next:hover,
.prev:hover{
    opacity: 0.8;
}
.gallery2 span,
.gallery time{
    font-family: arial;
    font-size: 12px;
    color: #000;
}
.gallery2 p,
.gallery p{
    font-family: arial;
    font-size: 12px;
    line-height: 13px;
    height: 54px;
    overflow: hidden;
}
.read{
    float: right;
    background: url("../img/read.png");
    width: 47px;
    height: 19px;
    text-indent: -5000px;
}
.read:hover{
    opacity: 0.8;
}
/* --------------- footer --------------- */
.footer {
    z-index: 2;
    position: relative;
    margin-top: -100px;
}
.footer__layout {
    width: 1000px;
    margin: 0 auto;
    position: relative;

}

/* --------------- /footer --------------- */
