@charset "utf-8";
/*
    main styles
    version: 15.01.2013
    
    Style to null

    fonts

    site

    header

    logo

    main-menu

    language

    footer

*/

/* --------------- Style to null --------------- */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,dl, dt, dd, 
ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, 
details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, 
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    font-size: 100%;
}
a {    
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
table {                        
    border-collapse: collapse; 
    border-spacing: 0;
}
td, td img {
    vertical-align: top;            
} 
input, select, button, textarea {
    margin: 0;                 
    font-size: 100%;             
}
input[type="text"], input[type="password"], textarea, input[type="email"], input[type="phone"], input[type="number"] {
    padding: 0;     
    font: 12px Arial, Helvetica, sans-serif;
}
input[type="checkbox"] {         
    vertical-align: bottom;
}
input[type="radio"] {
    vertical-align: text-bottom;
}
sub {
    vertical-align: sub;
    font-size: smaller;
}
sup {
    vertical-align: super;
    font-size: smaller;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display:block;
}

ul,
ol {
     list-style:none;
}
html {
    overflow-y: scroll;
    overflow-x: auto;
}
html,
body {
    height: 100%;
}
body {
    line-height: 1;
    color: #000;
    text-align: left;
    z-index: 1;
    position: relative;
    background: -moz-radial-gradient(circle, #fff, #d3d3d3);
    background: -webkit-radial-gradient( circle, #fff, #d3d3d3);
    background: -o-radial-gradient(circle, #fff, #d3d3d3);
    background: -ms-radial-gradient(circle, #fff, #d3d3d3);
    background: radial-gradient( circle, #fff, #d3d3d3);
}

input [type='text']{
    padding: 0;
}
input, select, button, textarea {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
input,
textarea {
    outline: none;    
}
textarea {
    resize:none; 
    overflow: auto;
}
label, input[type="button"], input[type="submit"], button {
    cursor: pointer;
}
a, a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:focus, a:active {
    text-decoration: none;
}
input[type="search"]:focus { 
    outline: none;
}
input[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner { 
    padding:0; 
    border:0; 
}
:focus {
    outline: none;
}
input:invalid {
    outline: none;
    -moz-box-shadow: none;
    border: none;
}
a:visited {
    color: #8EA177;
}
::-webkit-input-placeholder {
    color: #a1a1a1;
}
:-moz-placeholder {
    color: #a1a1a1;
}
.placeholder {
    color: #a1a1a1;
}
/* --------------- /Style to null --------------- */

/* --------------- fonts --------------- */
@font-face {
    font-family: "Font Name";
    src: url("../fonts/font.otf") format("opentype");
}
/* --------------- /fonts --------------- */

/* --------------- site --------------- */
.site {
    min-height: 100%;
    min-width: 1024px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
    .site:after {
        content: '';
        display: block;
        clear: both;
        width: 100%;
        height: 64px;
    }
.site__layout {

}
/* --------------- /site --------------- */

/* --------------- header --------------- */
.header {
    position: relative;
    height: 188px;
    width: 1024px;
    margin: 0 auto;
}
/* --------------- /header --------------- */

/* --------------- logo --------------- */
.logo {
    position: absolute;
    top: 50%;
    margin-top: -28px;
    left: 50%;
    margin-left: -126.5px;
}
/* --------------- /logo --------------- */

.picWrap{
    background: url("../img/gray-back.jpg");
    height: 392px;
    width: 100%;
    text-align: center;
}
.content-wrap{
    margin: 0 auto;
    width: 1024px;
}
.subscibe{
    width: 486px;
    margin: 0 auto;
}
.subscibe h2{
    font-family: arial;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    margin: 50px 0 18px 0;
}
.subscibe .inputWrap{
    border-radius: 5px;
    background: #ffffff;
    border: 1px solid #7e7e7e;
    width: 322px;
    height: 55px;
    margin-right: 14px;
    float: left;
}
.subscibe .inputWrap input{
    height: 55px;
    width: 302px;
    padding: 0 10px;
    border: none;
    background: none;
}
.subBut{
    background: url("../img/button.png");
    width: 148px;
    height: 60px;
    text-indent: -5000px;
    border: none;
}
.subBut:hover{
    opacity: 0.8;
}
.block{
    float: left;
    margin-left: 80px;
    margin-top: 45px;
}
.block h3{
    text-transform: uppercase;
    font-size: 14px;
    font-family: arial;
    letter-spacing: -1px;
    margin-bottom: 15px;
}
.block li{
    background: url("../img/dot.png") no-repeat 0 2px;
    padding-left: 20px;
    font-size: 14px;
    font-family: arial;
    margin-bottom: 10px;
}
.wraper{
    overflow: hidden;
    margin-left: 80px;
}
.creaters{
    position: absolute;
    top: 50%;
    margin-top: -9px;
    right: 0;
    background: url("../img/creaters.png");
    width: 81px;
    height: 18px;
    text-indent: -5000px;
}
.creaters:hover{
    opacity: 0.8;
}
/* --------------- footer --------------- */
.footer {
    z-index: 2;
    position: relative;
    margin-top: -64px;
}
.footer__layout {
    width: 1024px;
    margin: 0 auto;
    position: relative;
    height: 64px;
}
/* --------------- /footer --------------- */
