.editing {

}
.editing h1 {
    color: #2c343a;
    font-size: 47px;
    font-weight: 400;
    margin-bottom: 31px;
}
.editing .current_avatar {
    margin-bottom: 54px;
}
.editing .current_avatar h2 {
    font-family: Tahoma;
    margin-bottom: 22px;
    font-size: 23px;
    color: #2c343a;
    text-transform: uppercase;
    font-weight: normal;
}
.editing .current_avatar span {
    display: none;
    position: absolute;
    top: 34px;
    left: 17px;
    color: #fff;
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
}
.editing .current_avatar .wrap_img, .replace_avatar .wrap_img {
    position: relative;
    background: #000;
    display: inline-block;
    border: 1px solid #363c40;
    border-radius: 45px;
}
.editing .current_avatar .wrap_img:hover span {
    display: block;
}
.editing .current_avatar .wrap_img:hover img {
    opacity: 0.5;
    cursor: pointer;
}
.editing .current_avatar .wrap_img img, .replace_avatar .wrap_img img {
    display: block;
    border-radius: 45px;
}
.replace_avatar {
    padding-bottom: 80px;
    margin-bottom: 20px;
}
.replace_avatar .title {
    margin-bottom: 19px;
}
.replace_avatar h2 {
    color: #2c343a;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 22px;
    display: inline-block;
    padding-top: 2px;
}
.replace_avatar .download:hover, .replace_avatar .cancel_button:hover, .replace_avatar .save_button:hover {
    opacity: 0.8;
}
.replace_avatar .download {
    display: inline-block;
    color: #242b2f;
    background: #efb562;
    border-radius: 15px;
    font-size: 17px;
    width: 136px;
    height: 29px;
    text-align: center;
    line-height: 26px;
    font-family: Tahoma;
    margin: 0 0 0 14px;
    vertical-align: top;
}
.replace_avatar .wrap_replace_img {
    margin-bottom: 11px;
}
.replace_avatar .wrap_img {

}
.replace_avatar .wrap_img img {

}
.replace_avatar .cancel_button {
    border: 1px solid #B2B5B7;
    border-radius: 25px;
    color: #2B3238;
    display: inline-block;
    font-family: Tahoma;
    font-size: 25px;
    height: 38px;
    line-height: 38px;
    margin: 24px 11px 0 59px;
    text-align: center;
    vertical-align: top;
    width: 190px;
}
.replace_avatar .save_button {
    background: #EFB562;
    border-radius: 25px;
    color: #242B2F;
    display: inline-block;
    font-size: 25px;
    font-weight: 700;
    height: 40px;
    line-height: 38px;
    margin: 24px 0 0 0;
    text-align: center;
    vertical-align: top;
    width: 192px;
}





/* --- your_office --- */
.wrap_your_office {
    background: url("../img/your_office_bg.png") repeat;
    border-top: 1px dashed #8b8e90;
}
.your_office {
    border-bottom: 1px dashed #8b8e90;
    padding: 17px 0 16px 26px;
}
.your_office h3 {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 22px;
}
.your_office .profile_info {
    padding: 0 0 5px 3px;
    margin-bottom: 7px;
}
.your_office .profile_info ol {
    display: inline-block;
    vertical-align: top;
}
.your_office .profile_info .wrap_img {
    margin: 0 0 0 26px;
    display: inline-block;
    vertical-align: top;
    border-radius: 45px;
    display: inline-block;
    position: relative;
}
.your_office .profile_info .wrap_img img {
    border-radius: 45px;
    display: block;
}
.your_office .profile_info ol li {
    margin-bottom: 14px;
}
.your_office .profile_info ol li a:hover, .your_office .favorites ol li a:hover, .wrap_your_office .log_off span:hover {
    text-decoration: none;
}
.your_office .profile_info ol li a {
    color: #efb562;
    text-decoration: underline;
    font-size: 12px;
    font-weight: 400;
}
.your_office .profile_info ol li span {
    display: inline-block;
    vertical-align: top;
    margin: 1px 0 0 14px;
    width: 17px;
    height: 17px;
    background: #efb562;
    color: #242b2f;
    font-weight: 700;
    text-align: center;
    font-size: 14px;
}
.your_office .favorites ol li {
    margin-bottom: 14px;
}
.your_office .favorites ol li a {
    color: #a8a9aa;
    font-weight: 400;
    font-size: 12px;
    text-decoration: underline;
    font-family: Tahoma;
}
.wrap_your_office .log_off span {
    text-decoration: underline;
}
.wrap_your_office .log_off {
    color: #a8a9aa;
    display: block;
    font-size: 12px;
    font-weight: 700;
    padding: 17px 0 25px 27px;
}

/* --- /your_office --- */