/*
main styles
version: 15.01.2013

Style to null

fonts

site

header

logo

main-menu

language

footer


--------------- Style to null ---------------*/
HTML, BODY, DIV, SPAN, H1, H2, H3, H4, H5, H6, P, EM, IMG, STRONG, SUB, SUP, B, U, I, DL, DT, DD, OL, UL, LI, FIELDSET, FORM, LABEL, TABLE, TBODY, TFOOT, THEAD, TR, TH, TD, ARTICLE, ASIDE, CANVAS, DETAILS, FIGCAPTION, FIGURE, FOOTER, HEADER, HGROUP, MENU, NAV, SECTION, SUMMARY, TIME, MARK, AUDIO, VIDEO
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    font-size: 100%;
}
A
{
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
TABLE
{
    border-collapse: collapse;
    border-spacing: 0;
}
TD, TD IMG
{
    vertical-align: top;
}
INPUT, SELECT, BUTTON, TEXTAREA
{
    margin: 0;
    font-size: 100%;
}
INPUT[type="text"], INPUT[type="password"], TEXTAREA, INPUT[type="email"], INPUT[type="phone"], INPUT[type="number"]
{
    padding: 0;
    font: 12px Arial, Helvetica, sans-serif;
}
INPUT[type="checkbox"]
{
    vertical-align: bottom;
}
INPUT[type="radio"]
{
    vertical-align: text-bottom;
}
SUB
{
    vertical-align: sub;
    font-size: smaller;
}
SUP
{
    vertical-align: super;
    font-size: smaller;
}
ARTICLE, ASIDE, DETAILS, FIGCAPTION, FIGURE, FOOTER, HEADER, HGROUP, MENU, NAV, SECTION
{
    display: block;
}
UL, OL
{
    list-style: none;
}
HTML
{
    /*[disabled]overflow-y:scroll;*/
    /*[disabled]overflow-x:auto;*/
}
HTML, BODY
{
    height: 100%;
}
BODY
{
    line-height: 1;
    color: #000;
    text-align: left;
    z-index: 1;
    position: relative;
    /*[disabled]background:url("../img/bg.jpg");*/
}
INPUT [type='text']
{
    padding: 0;
}
INPUT, SELECT, BUTTON, TEXTAREA
{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
INPUT, TEXTAREA
{
    outline: none;
}
TEXTAREA
{
    resize: none;
    overflow: auto;
}
LABEL, INPUT[type="button"], INPUT[type="submit"], BUTTON
{
    cursor: pointer;
}
A, A:visited
{
    text-decoration: none;
}
A:hover
{
    text-decoration: none;
}
A:focus, A:active
{
    text-decoration: none;
}
INPUT[type="search"]:focus
{
    outline: none;
}
INPUT[type="submit"]::-moz-focus-inner, BUTTON::-moz-focus-inner
{
    padding: 0;
    border: 0;
}
:focus
{
    outline: none;
}
INPUT:invalid
{
    outline: none;
    -moz-box-shadow: none;
    border: none;
}
A:visited
{
    color: #8EA177;
}
::-webkit-input-placeholder
{
    color: #000;
}
:-moz-placeholder
{
    color: #000;
}
.placeholder
{
    color: #000;
}
/*--------------- /Style to null ---------------
--------------- b-content ---------------*/
.content
{
}
.content H1
{
    font-size: 150%;
    margin-bottom: 20px;
}
.content H2
{
    font-size: 140%;
    margin-bottom: 15px;
}
.content H3
{
    font-size: 130%;
    margin-bottom: 12px;
}
.content H4
{
    font-size: 120%;
    margin-bottom: 10px;
}
.content H5
{
    font-size: 110%;
    margin-bottom: 10px;
}
.content H6
{
    font-size: 100%;
    margin-bottom: 10px;
}
.content P
{
    margin-bottom: 15px;
}
.content UL
{
    list-style: disc;
    margin: 0 15px 10px;
}
.content UL UL
{
    margin: 10px 0 10px 25px;
}
.content OL
{
    list-style: decimal;
    margin: 0 15px 10px 20px;
}
.content OL OL
{
    margin: 10px 0 10px 25px;
}
.content LI
{
    margin-bottom: 5px;
}
.content TABLE
{
    margin-bottom: 15px;
    font-size: 100%;
    width: auto;
    border: 1px solid #000;
}
.content TH, .content TD
{
    border: 1px solid #000;
    padding: 4px;
    text-align: left;
}
.content TH
{
    font-weight: bold;
    text-align: center;
}
.content A, .content A FONT
{
    color: #0000FF;
    text-decoration: underline;
}
.content A:visited, .content A:visited FONT
{
    color: #0000AA;
}
.content A:hover, .content A:hover FONT
{
    color: #0000FF;
    text-decoration: none;
}
.content A:active, .content A:active FONT
{
    color: #FF0000;
}
.content IMG[align=left]
{
    margin: 0 10px 10px 0;
    float: left;
}
.content IMG[align=right]
{
    margin: 0 0 10px 10px;
    float: right;
}
.content DL
{
    margin: 0 0 15px;
}
.content DT
{
    font-weight: bold;
    margin-bottom: 2px;
}
.content DD
{
    margin-bottom: 5px;
}
.content HR
{
    height: 1px;
    border: none;
    color: #AAA;
    background: #AAA;
    margin: 10px 0;
    clear: both;
}
/*--------------- /b-content ---------------
--------------- fonts ---------------*/
@font-face
{
    font-family: "Font Name";
    src: url("../fonts/font.otf") format("opentype");
}
/*--------------- /fonts ---------------
--------------- site ---------------*/
.site
{
    min-height: 100%;
    min-width: 975px;
    font-family: arial;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.site:after
{
    content: '';
    display: block;
    clear: both;
    width: 100%;
    height: 100px;
}
.site__layout
{
}
.mainSite
{
    background: url("../img/main-back.jpg") no-repeat center 100px;
}
/*--------------- /site ---------------
--------------- header ---------------*/
.header
{
    position: relative;
    height: 100px;
    margin-bottom: 40px;
    background: url("../img/head-top.png");
}
.headInside
{
    width: 975px;
    margin: 0 auto;
    position: relative;
}
/*--------------- /header ---------------
--------------- logo ---------------*/
.logo
{
    position: absolute;
    top: 19px;
    left: 0px;
}
/*--------------- /logo ---------------
--------------- main-menu ---------------*/
.main-menu
{
    padding: 46px 0 0 295px;
    float: left;
}
.main-menu__item
{
    float: left;
    margin-left: 60px;
}
.main-menu__lnk:hover
{
    text-decoration: none;
}
.main-menu__lnk:visited, .main-menu__lnk
{
    font-size: 14px;
    color: #FFF;
    text-decoration: underline;
}
/*--------------- /main-menu ---------------
--------------- language ---------------*/
.language
{
    float: right;
    padding-top: 41px;
}
.language__item
{
    float: left;
}
.language__lnk
{
    color: #7F0A0A;
    display: block;
    background: url("../img/not-active-lang.png");
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    font-size: 12px;
}
.language__item_active .language__lnk
{
    color: #FFF;
    cursor: default;
    background: url("../img/active-lang.png");
}
/*--------------- /language ---------------*/
.content-wrap
{
    width: 975px;
    margin: 0 auto;
}
.gallBlock
{
    overflow: hidden;
    margin-bottom: 24px;
}
.textBlock
{
    width: 468px;
    float: left;
}
.content .textBlock H3
{
    color: #292828;
    font-size: 50px;
    margin-bottom: 8px;
}
.content .textBlock P
{
    color: #292929;
    line-height: 20px;
    font-size: 16px;
    margin-bottom: 38px;
}
.moreBut:hover, A.moreBut:hover
{
    opacity: 0.8;
    color: #FFFEFE;
}
A.moreBut:visited
{
    color: #FFFEFE;
}
.moreBut, A.moreBut
{
    color: #FFFEFE;
    text-decoration: none;
    background: url("../img/more-but-back.png");
    width: 95px;
    height: 35px;
    display: block;
    line-height: 35px;
    font-size: 14px;
    border: none;
    text-align: center;
}
.gallWrap
{
    float: right;
    position: relative;
}
.content .subMenu
{
    list-style: none;
    margin: 0;
    background: url("../img/sub-menu-back.jpg");
    width: 975px;
    height: 132px;
    margin-bottom: 30px;
}
.content .subMenu LI
{
    float: left;
    width: 243px;
    height: 132px;
}
.content .subMenu LI A
{
    color: #FFF;
    font-size: 14px;
    text-decoration: underline;
    display: block;
    text-align: center;
    padding-top: 85px;
    height: 47px;
    white-space: pre-line;
}
.content .subMenu LI:hover
{
    background: url("../img/active-sub.png") no-repeat top center;
}
.content .subMenu LI:hover A
{
    text-decoration: none;
}
.sub1
{
    background: url("../img/pic1.png") no-repeat center 15px;
}
.sub2
{
    background: url("../img/pic2.png") no-repeat center 15px;
}
.sub3
{
    background: url("../img/pic3.png") no-repeat center 15px;
}
.sub4
{
    background: url("../img/pic4.png") no-repeat center 15px;
}
.content .topicType
{
    height: 70px;
    border-left: 2px solid #FBFBFB;
    background: rgba(0, 0, 0, 0.8);
    width: 238px;
    color: #FEFEFE;
    font-size: 47px;
    text-align: center;
    line-height: 67px;
    font-weight: bold;
    margin-bottom: 0;
}
.content .newsBlock UL
{
    list-style: none;
    margin: 0;
    width: 1000px;
}
.newsBlock UL LI
{
    float: left;
    width: 263px;
    margin-right: 15px;
    height: 171px;
    background: #FBFBFB;
    padding: 12px 26px;
    position: relative;
}
.content .newsBlock UL LI H4
{
    color: #484848;
    font-size: 18px;
    border-bottom: 1px solid #A31D1D;
    padding-bottom: 14px;
}
.content .newsBlock UL LI P
{
    color: #303030;
    font-size: 12px;
    line-height: 17px;
}
.content .newsBlock .moreBut
{
    position: absolute;
    bottom: 12px;
    left: 25px;
}
.textWrap
{
    overflow: hidden;
}
.whyUs .textContainer
{
    float: left;
    width: 488px;
    color: #FFF;
}
.textContainer
{
    color: #FFF;
}
.textContainer H4
{
    font-size: 39px;
}
.content .textContainer P
{
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 27px;
}
.imgWrap
{
    border: 8px solid #FFF;
    box-shadow: 2px 2px 5px #B9B9B9;
}
.imgWrap IMG
{
    display: block;
}
.whyUs .imgWrap
{
    float: right;
}
.newsBlock
{
    overflow: hidden;
    margin-bottom: 29px;
}
a.moreBut2:hover
{
    opacity: 0.8;
    color:  #a31d1d;
}
a.moreBut2
{
    background: url("../img/more-but-back2.png");
    width: 95px;
    height: 35px;
    display: block;
    line-height: 35px;
    text-align: center;
    color:  #a31d1d;
    font-size: 14px;
    text-decoration: none;
}
.cooperate .textContainer
{
    float: right;
    width: 472px;
}
.cooperate .imgWrap
{
    float: left;
}
.whyUs
{
    margin-bottom: 75px;
}
.content .firmsList
{
    list-style: none;
    margin: 0;
    width: 1000px;
}
.content .firmsList LI
{
    display: inline-block;
    position: relative;
    vertical-align: top;
    text-align: center;
    margin: 0 36px 41px 0;
    width: 210px;
}
.content .firmsList LI A
{
    color: #A31D1D;
}
.content .firmsList LI SPAN
{
    color: #A31D1D;
    font-size: 14px;
}
.content .firmsList LI A:hover SPAN
{
    color: #484848;
}
.content .firmsList LI A.moreBut
{
    color: #FFF;
    float: right;
    margin-top: 55px;
}
.content .firms H4
{
    color: #484848;
    margin-bottom: 19px;
    font-size: 50px;
}
.cooperate
{
    margin-bottom: 56px;
}
.insideSite1
{
    background: url("../img/service-back.jpg") no-repeat center 100px;
}
.ervises .textContainer
{
    width: 356px;
    float: left;
}
.ervises .imgWrap
{
    float: right;
}
.content .ervises .textContainer H4
{
    font-size: 25px;
}
.content .slideList
{
    list-style: none;
    margin: 0;
}
.content .slideList LI
{
    margin-bottom: 10px;
}
.slideBut:hover
{
    opacity: 0.9;
}
.slideBut
{
    background: url("../img/slide-back.jpg");
    width: 975px;
    color: #FFF;
    font-size: 18px;
    height: 55px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    font-weight: bold;
}
.counter
{
    float: left;
    height: 55px;
    line-height: 55px;
    text-align: center;
    width: 53px;
    margin-right: 10px;
}
.nameType
{
    float: left;
    height: 55px;
    line-height: 55px;
}
.butType
{
    float: right;
    height: 55px;
    width: 53px;
    text-indent: -5000px;
}
.up
{
    background: url("../img/up-arrow.png") no-repeat center;
}
.down
{
    background: url("../img/down-arrow.png") no-repeat center;
}
.slideText .imgWrap
{
    float: left;
    margin-right: 20px;
}
.content .slideTextBlock P
{
    color: #3A3A3A;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;
}
.ervises
{
    margin-bottom: 66px;
}
.slideText
{
    overflow: hidden;
    display: none;
    padding: 34px 0 37px 19px;
    border-bottom: 1px solid #760606;
}
.insideSite2
{
    background: url("../img/contacts-back.png") no-repeat center 100px;
}
.address
{
    background: url("../img/lines.png") no-repeat 0 69px;
    font-style: normal;
    color: #FFF;
    float: left;
    /*[empty]width:;*/
    padding-right: 192px;
}
.content .address .topicType2
{
    font-size: 25px;
    margin-bottom: 9px;
}
.content .address P
{
    font-size: 14px;
    margin-bottom: 46px;
}
.formHead
{
    overflow: hidden;
}
.content .formHead H4
{
    float: left;
    content: #292828;
    font-size: 25px;
}
.content .formHead P
{
    float: right;
    font-size: 12px;
    color: #8D8D8D;
}
.content .formHead P SPAN
{
    color: #C60000;
    font-size: 20px;
}
.contactsForm
{
    width: 440px;
    margin-bottom: 50px;
    float: right;
}
.inputWrap
{
    border: 1px solid #292828;
    width: 213px;
    height: 33px;
}
.inputWrap INPUT
{
    border: none;
    background: none;
    height: 33px;
    padding: 0 10px;
    width: 193px;
}
.lineContainer
{
    overflow: hidden;
    width: 450px;
    margin-bottom: 15px;
}
.blockWrap
{
    float: left;
    margin-right: 10px;
}
.contactsForm LABEL
{
    color: #292828;
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
}
.contactsForm LABEL SPAN
{
    color: #C60000;
}
.longWidth .inputWrap
{
    width: 438px;
}
.longWidth .inputWrap INPUT
{
    width: 418px;
}
.textareaType
{
    border: 1px solid #292828;
    width: 418px;
    height: 53px;
    padding: 10px;
}
.codeText
{
    color: #8D8D8D;
    font-size: 12px;
    display: block;
    margin-bottom: 5px;
}
.capcha
{
    border: 1px solid #292828;
    width: 103px;
    height: 33px;
    overflow: hidden;
    margin-right: 10px;
    float: left;
}
.capchaContainer .inputWrap
{
    float: left;
    width: 218px;
}
.capchaContainer .inputWrap INPUT
{
    width: 198px;
}
.capchaContainer .moreBut
{
    float: right;
    margin-right: 9px;
}
.type_file
{
    /*Ð±Ð»Ð¾Ðº-Ñ€Ð¾Ð´Ð¸Ñ‚ÐµÐ»ÑŒ, Ð²Ð½ÑƒÑ‚Ñ€Ð¸ ÐºÐ¾Ñ‚Ð¾Ñ€Ð¾Ð³Ð¾ Ð±ÑƒÐ´ÑƒÑ‚ Ð¿Ð¾Ð·Ð¸Ñ†Ð¸Ð¾Ð½Ð¸Ñ€Ð¾Ð²Ð°Ñ‚ÑŒÑÑ Ð¾ÑÑ‚Ð°Ð»ÑŒÐ½Ñ‹Ðµ ÑÐ»ÐµÐ¼ÐµÐ½Ñ‚Ñ‹ Ð´Ð»Ñ Ñ€ÐµÐ°Ð»Ð¸Ð·Ð°Ñ†Ð¸Ð¸ ÑÑ‚Ð¸Ð»ÑŒÐ½Ð¾Ð³Ð¾ Ð¿Ð¾Ð»Ñ Ð²Ñ‹Ð±Ð¾Ñ€Ð° Ñ„Ð°Ð¹Ð»Ð¾Ð²*/
    position: relative;
    height: 35px;
}
.inputFile
{
    /*Ð¿Ð¾Ð»Ðµ type="file"*/
    position: absolute;
    /*Ð°Ð±ÑÐ¾Ð»ÑŽÑ‚Ð½Ð¾Ðµ Ð¿Ð¾Ð·Ð¸Ñ†Ð¸Ð¾Ð½Ð¸Ñ€Ð¾Ð²Ð°Ð½Ð¸Ðµ, Ñ‡Ñ‚Ð¾Ð±Ñ‹ Ð¼Ð¾Ð¶Ð½Ð¾ Ð±Ñ‹Ð»Ð¾ ÑÐ¾Ð²Ð¼ÐµÑÑ‚Ð¸Ñ‚ÑŒ Ð¿Ð¾Ð»Ðµ Ð¸ Ð±Ð»Ð¾Ðº Ñ Ð¾Ñ„Ð¾Ñ€Ð¼Ð»ÐµÐ½Ð¸ÐµÐ¼*/
    top: 0;
    left: 0;
    z-index: 2;
    /*z-ÑÐ»Ð¾Ð¹ Ð´Ð¾Ð»Ð¶ÐµÐ½ Ð±Ñ‹Ñ‚ÑŒ Ð±Ð¾Ð»ÑŒÑˆÐµ, Ñ‡ÐµÐ¼ Ñƒ Ð±Ð»Ð¾ÐºÐ° Ñ Ð¾Ñ„Ð¾Ñ€Ð¼Ð»ÐµÐ½Ð¸ÐµÐ¼*/
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    /*Ð´ÐµÐ»Ð°ÐµÐ¼ Ð¿Ð¾Ð»Ðµ Ð°Ð±ÑÐ¾Ð»ÑŽÑ‚Ð½Ð¾ Ð¿Ñ€Ð¾Ð·Ñ€Ð°Ñ‡Ð½Ñ‹Ð¼*/
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    width: 440px;
    /*Ð·Ð°Ð´Ð°ÐµÐ¼ ÑˆÐ¸Ñ€Ð¸Ð½Ñƒ Ð´Ð»Ñ Ð²ÑÐµÑ… Ð±Ñ€Ð°ÑƒÐ·ÐµÑ€Ð¾Ð². Ð”Ð»Ñ firefox Ð¿Ð¾Ð´Ð±Ð¸Ñ€Ð°ÐµÐ¼ Ð·Ð½Ð°Ñ‡ÐµÐ½Ð¸Ðµ Ð¿Ð°Ñ€Ð°Ð¼ÐµÑ‚Ñ€Ð° size Ð² Ð¿Ð¾Ð»Ðµ*/
}
.fonTypeFile:hover
{
    opacity: 0.8;
}
.fonTypeFile
{
    /*Ð±Ð»Ð¾Ðº Ñ Ð¾Ñ„Ð¾Ñ€Ð¼Ð»ÐµÐ½Ð¸ÐµÐ¼*/
    width: 440px;
    /*Ñ€Ð°Ð·Ð¼ÐµÑ€Ñ‹ ÐºÐ°Ñ€Ñ‚Ð¸Ð½ÐºÐ¸ Ð´Ð»Ñ Ð¾Ñ„Ð¾Ñ€Ð¼Ð»ÐµÐ½Ð¸Ñ*/
    height: 35px;
    background: url(../img/wiew.jpg);
    /*ÐºÐ°Ñ€Ñ‚Ð¸Ð½ÐºÐ° Ð¾Ñ„Ð¾Ñ€Ð¼Ð»ÐµÐ½Ð¸Ñ Ð¿Ð¾Ð»Ñ*/
    position: absolute;
    top: 0;
    cursor: pointer;
    left: 0;
    z-index: 1;
    /*z-ÑÐ»Ð¾Ð¹ Ð¼ÐµÐ½ÑŒÑˆÐµ, Ñ‡ÐµÐ¼ Ñƒ Ð¿Ð¾Ð»Ñ Ð²Ñ‹Ð±Ð¾Ñ€Ð° Ñ„Ð°Ð¹Ð»Ð°*/
}
.inputFileVal
{
    /*Ð¿Ð¾Ð»Ðµ, Ð² ÐºÐ¾Ñ‚Ð¾Ñ€Ð¾Ð¼ Ð±ÑƒÐ´ÐµÑ‚ Ð¿Ð¾ÐºÐ°Ð·Ð°Ð½ Ñ€ÐµÐ·ÑƒÐ»ÑŒÑ‚Ð°Ñ‚ Ð²Ñ‹Ð±Ð¾Ñ€Ð° Ñ„Ð°Ð¹Ð»Ð°*/
    position: absolute;
    top: 3px;
    left: 5px;
    z-index: 2;
    width: 175px;
    background: none;
    border: none;
}
/*--------------- footer ---------------*/
.footer
{
    z-index: 2;
    position: relative;
    margin-top: -100px;
    height: 99px;
    font-family: arial;
    color: #FFF;
    background: url("../img/footer-back.png");
}
.footer__layout
{
    width: 975px;
    margin: 0 auto;
    height: 99px;
    position: relative;
}
.copy
{
    position: absolute;
    top: 43px;
    font-size: 12px;
    left: 0;
}
.footerMenu
{
    position: absolute;
    top: 39px;
    right: 16px;
}
.footerMenu LI
{
    float: left;
    margin-left: 59px;
}
.footerMenu LI A
{
    color: #FFF;
    font-size: 14px;
    text-decoration: underline;
}
.footerMenu LI A:hover
{
    text-decoration: none;
}
/*--------------- /footer ---------------*/
ADDRESS.address P A, ADDRESS.address P A:hover
{
    color: #FFFFFF;
}
UL.firmsList LI P
{
    font-size: 12px;
    padding-top: 6px;
    margin-bottom: 0px;
    font-style: italic;
}
.content .firmsList LI
{
    display: inline-block;
    position: relative;
    vertical-align: top;
    text-align: center;
    margin: 0 36px 41px 0;
    width: 210px;
}
DIV.license A.fancybox
{
    display: inline-block;
    position: relative;
    vertical-align: top;
    text-align: center;
    margin: 0 36px 41px 0;
    width: 210px;
}