@font-face {
    font-family: "gothaprobla";
    src: url("../fonts/gothaprobla.eot");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "gothaprobol";
    src: url("../fonts/gothaprobol.eot");
    font-weight: normal;
    font-style: normal;
}