@charset "utf-8";
/*
    main styles
    version: 15.01.2013
    
    Style to null

    fonts

    site

    header

    logo

    main-menu

    language

    footer

*/

/* --------------- Style to null --------------- */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,dl, dt, dd, 
ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, 
details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, 
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    font-size: 100%;
}
a {    
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
table {                        
    border-collapse: collapse; 
    border-spacing: 0;
}
td, td img {
    vertical-align: top;            
} 
input, select, button, textarea {
    margin: 0;                 
    font-size: 100%;             
}
input[type="text"], input[type="password"], textarea, input[type="email"], input[type="phone"], input[type="number"] {
    padding: 0;     
    font: 12px Arial, Helvetica, sans-serif;
}
input[type="checkbox"] {         
    vertical-align: bottom;
}
input[type="radio"] {
    vertical-align: text-bottom;
}
sub {
    vertical-align: sub;
    font-size: smaller;
}
sup {
    vertical-align: super;
    font-size: smaller;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display:block;
}

ul,
ol {
     list-style:none;
}
html {
    overflow-y: scroll;
    overflow-x: auto;
}
html,
body {
    height: 100%;
}
body {
    line-height: 1;
    color: #000;
    text-align: left;
    z-index: 1;
    position: relative;
}

input [type='text']{
    padding: 0;
}
input, select, button, textarea {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
input,
textarea {
    outline: none;    
}
textarea {
    resize:none; 
    overflow: auto;
}
label, input[type="button"], input[type="submit"], button {
    cursor: pointer;
}
a, a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:focus, a:active {
    text-decoration: none;
}
input[type="search"]:focus { 
    outline: none;
}
input[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner { 
    padding:0; 
    border:0; 
}
:focus {
    outline: none;
}
input:invalid {
    outline: none;
    -moz-box-shadow: none;
    border: none;
}
a:visited {
    color: #8EA177;
}
::-webkit-input-placeholder {
    color: #000;
}
:-moz-placeholder {
    color: #000;
}
.placeholder {
    color: #000;
}
/* --------------- /Style to null --------------- */

/* --------------- b-content --------------- */
.content {

}
.content h1 {
    font-size: 150%;
    margin-bottom: 20px;
}
.content h2 {
    font-size: 140%;
    margin-bottom: 15px;
}
.content h3 {
    font-size: 130%;
    margin-bottom: 12px;
}
.content h4 {
    font-size: 120%;
    margin-bottom: 10px;
}
.content h5 {
    font-size: 110%;
    margin-bottom: 10px;
}
.content h6 {
    font-size: 100%;
    margin-bottom: 10px;
}
.content p {
    margin-bottom: 15px;
}
.content ul {
    list-style: disc;
    margin: 0 15px 10px 15px;
}
.content ul ul {
    margin: 10px 0 10px 25px;
}
.content ol {
    list-style: decimal;
    margin: 0 15px 10px 20px;
}
.content ol ol {
    margin: 10px 0 10px 25px;
}
.content li {
    margin-bottom: 5px;
}
.content table {
    margin-bottom: 15px;
    font-size: 100%;
    width: auto;
    border: 1px solid #000;
}
.content th,
.content td {
    border: 1px solid #000;
    padding: 4px;
    text-align: left;
}
.content th {
    font-weight: bold;
    text-align: center;
}
.content a,
.content a font {
    color: #0000ff;
    text-decoration: underline;
}
.content a:visited,
.content a:visited font {
    color: #0000aa;
}
.content a:hover,
.content a:hover font {
    color: #0000ff;
    text-decoration: none;
}
.content a:active,
.content a:active font {
    color: #ff0000;
}
.content img[align=left] {
    margin: 0 10px 10px 0;
    float: left;
}
.content img[align=right] {
    margin: 0 0 10px 10px;
    float: right;
}
.content dl {
    margin: 0 0 15px 0;
}
.content dt {
    font-weight: bold;
    margin-bottom: 2px;
}
.content dd {
    margin-bottom: 5px;
}
.content hr {
    height: 1px;
    border: none;
    color: #aaa;
    background: #aaa;
    margin: 10px 0;
    clear: both;
}
/* --------------- /b-content --------------- */

/* --------------- fonts --------------- */
@font-face {
    font-family: "scada-regular-webfont";
    src: url("../fonts/scada-regular-webfont.eot");
    src: url("../fonts/scada-regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/scada-regular-webfont.woff") format("woff"),
    url("../fonts/scada-regular-webfont.ttf") format("truetype");
}
@font-face {
    font-family: "scada-bold-webfont";
    src: url("../fonts/scada-bold-webfont.eot");
    src: url("../fonts/scada-bold-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/scada-bold-webfont.woff") format("woff"),
    url("../fonts/scada-bold-webfont.ttf") format("truetype");
}
/* --------------- /fonts --------------- */
.butType2{
    font-family: scada-regular-webfont;
    color: #fff;
    font-size: 14px;
    text-align: center;
    border-radius: 3px;
    display: block;
    text-shadow: 0 -1px 1px #4b4b83;
}
.sizeType1{
    height: 40px;
    width: 230px;
    line-height: 40px;
}
.sizeType2{
    height: 30px;
    width: 90px;
    line-height: 30px;
}
.mapBut span{
    background: url("../img/map-b.png") no-repeat;
    padding-left: 23px;
}
.problemBut span{
    background: url("../img/pointer.png") no-repeat 0 10px;
    padding-left: 20px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
}
.greenButType{
    background: url("../img/but2-back.png");
}
.greenButType:hover{
    background: url("../img/but2-back-hover.png");
}
.greenButType:active{
    background: url("../img/but2-back-active.png");
}
.filetButType{
    background: url("../img/but1-back.png");
}
input[type="submit"].filetButType{
    color: #fff;
    border: none;
    border-radius: 3px;
    display: block;
    margin: 0 auto;
}
.filetButType:hover{
    background: url("../img/but1-back-hover.png");
}
.filetButType:active{
    background: url("../img/but1-back-active.png");
}
.socialButType{
    display: block;
    width: 40px;
    height: 40px;
    text-indent: -5000px;
    background: url("../img/but-sprite.png");
}
.content-wrap{
    background: #fff;
}

.vkontakteBut:hover{ background-position: 0 -893px; width: 40px; height: 40px; }
.vkontakteBut{ background-position: 0 -953px; width: 40px; height: 40px; }
.facebookBut{ background-position: 0 -60px; width: 40px; height: 40px; }
.facebookBut:hover{ background-position: 0 0; width: 40px; height: 40px; }
.odnoklasnikiBut:hover{ background-position: 0 -505px; width: 40px; height: 40px; }
.odnoklasnikiBut{ background-position: 0 -565px; width: 40px; height: 40px; }
.twitterBut:hover{ background-position: 0 -773px; width: 40px; height: 40px; }
.twitterBut{ background-position: 0 -833px; width: 40px; height: 40px; }
.gplusBut:hover{ background-position: 0 -120px; width: 40px; height: 40px; }
.gplusBut{ background-position: 0 -180px; width: 40px; height: 40px; }
.mailworldBut:hover{ background-position: 0 -385px; width: 40px; height: 40px; }
.mailworldBut{ background-position: 0 -445px; width: 40px; height: 40px; }

.arrowBut{
    display: block;
    width: 18px;
    height: 35px;
    text-indent: -5000px;
    background: url("../img/but-sprite.png");
}
.leftButArrow:hover{background-position: 0 -240px; width: 19px; height: 35px; }
.leftButArrow{ background-position: 0 -295px; width: 19px; height: 35px; }
.rightButArrow:hover{ background-position: 0 -663px; width: 19px; height: 35px; }
.rightButArrow{ background-position: 0 -718px; width: 19px; height: 35px; }

.imageBut{
    color: #ffffff;
    font-family: scada-regular-webfont;
    font-size: 14px;
    height: 25px;
    display: inline-block;
    line-height: 25px;
    padding-left: 30px;
}
.playVideoBut{
    background: url("../img/play.png") no-repeat;
}
.playVideoBut:hover{
    background: url("../img/play-hover.png") no-repeat;
    text-decoration: underline;
    color: #7373d1;
}
.jnowMoreBut{
    background: url("../img/more.png") no-repeat;

}
.jnowMoreBut:hover{
    background: url("../img/more-hover.png") no-repeat;
    text-decoration: underline;
    color: #7373d1;
}
.hrefType{
    color: #999999;
    font-size: 14px;
    font-family: scada-regular-webfont;
}
.hrefType:hover{
    color: #cccccc;
}
.boldHrefType{
    font-family: scada-bold-webfont;
    font-size: 20px;
}
.sprite-map-b{ background-position: 0 -350px; width: 17px; height: 15px; }
.sprite-pointer{ background-position: 0 -625px; width: 15px; height: 18px; }

.underlineHref{
    color: #fff;
    font-size: 14px;
    font-family: scada-regular-webfont;
    display: inline-block;
    height: 18px;
    line-height: 18px;
}
.underlineHref:hover{
    text-decoration: underline;
}
.problemHref{
    background: url("../img/pointer.png") no-repeat;
    padding-left: 20px;
}
/* --------------- site --------------- */
.site {
    min-height: 100%;
    min-width: 940px;
    overflow: hidden;
    position: relative;

}
    .site:after {
        content: '';
        display: block;
        clear: both;
        width: 100%;
        height: 125px;
    }
.site__layout {

}
/* --------------- /site --------------- */

/* --------------- header --------------- */
.header {
    position: relative;
    height: 128px;
    background: url("../img/head-back.png");
}
.insideHeader{
    height: 128px;
    position: relative;
    width: 940px;
    margin: 0 auto;
}
/* --------------- /header --------------- */

/* --------------- logo --------------- */
.logo {
    position: absolute;
    top: 31px;
    left: 0;
}
/* --------------- /logo --------------- */

/* --------------- main-menu --------------- */
.main-menu {
    position: absolute;
    top: 55px;
    left: 191px;
}
.main-menu__item{
    float: left;
    border-left: 1px solid #59556c;
    padding: 0 10px;

}
.main-menu__lnk:hover{
    text-decoration: underline;
}
.main-menu__lnk:visited{
    color: #fff;
}
.main-menu__lnk{
    font-family: scada-regular-webfont;
    color: #fff;
    font-size: 14px;
}
.main-menu__item_active .main-menu__lnk{
    text-transform: uppercase;
    font-size: 12px;
    cursor: default;
    letter-spacing: 8px;
}
.main-menu__item_active .main-menu__lnk:hover{
    text-decoration: none;
}
.subButtons{
    position: absolute;
    top: 50px;
    right: 0;
}
.subButtons li{
    float: left;
    margin-left: 9px;;
}
.subButtons .filetButType{
    width: 128px;
}
.blockInside{
    width: 940px;
    margin: 0 auto;
    position: relative;
}
.block1{
    background: url("../img/back-type.png");
    height: 372px;
    overflow: hidden;
}
.bannerText{
    float: left;
    color: #fff;
    width: 265px;
    margin-top: 50px;
}
.bannerImg{
    float: right;
    margin-top: 40px;
}
.bannerText h3{
    font-size: 38px;
    font-family: scada-regular-webfont;
    font-weight: normal;
    margin-bottom: 23px;
}
.tryNowText{
    font-size: 14px;
    font-family: scada-regular-webfont;
}
.bannerText .greenButType{
    width: 228px;
    margin-top: 20px;
}
.bannerText .playVideoBut:hover{
    color: #fff;
    text-decoration: none;
}
.bannerText .playVideoBut{
    color: #a69fd6;
}
.butWrap{
    margin-bottom: 35px
}
.block2{
    background: #e6e6e6;
    border-bottom: 1px solid #cdcdcd;
    padding-top: 33px;
    padding-bottom: 22px;
}
.textBlock{
    text-align: center;
}
.wayBut:hover{
    opacity: 0.8;
}
.wayBut{
    display: block;
    background: url("../img/but-href.png");
    width: 160px;
    text-indent: -5000px;
    height: 30px;
    margin: 0 auto;
}
.textBlock p{
    color: #707070;
    font-family: scada-regular-webfont;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 10px;
}
.listType{
    overflow: hidden;
    margin-left: 10px;
    width: 1000px;
    margin-bottom: 45px;
}
.listType li{

    display: inline-block;
    vertical-align: top;
    width: 220px;
    text-align: center;
    font-family: scada-regular-webfont;
    font-size: 14px;
    margin-bottom: 30px;
    margin-right: 9px;
}
.listType li a:hover{
    text-decoration: underline;
}
.listType li a{
    color: #000;
    padding-top: 67px;
    display: block;
}
.type1{
    background: url("../img/pic1.png") no-repeat top center;
}
.type2{
    background: url("../img/pic2.png") no-repeat top center;
}
.type3{
    background: url("../img/pic3.png") no-repeat top center;
}
.type4{
    background: url("../img/pic4.png") no-repeat top center;
}
.type5{
    background: url("../img/pic5.png") no-repeat top center;
}
.type6{
    background: url("../img/pic6.png") no-repeat top center;
}
.type7{
    background: url("../img/pic7.png") no-repeat top center;
}
.type8{
    background: url("../img/pic8.png") no-repeat top center;
}
.type9{
    background: url("../img/pic9.png") no-repeat top center;
}
.type10{
    background: url("../img/pic10.png") no-repeat top center;
}
.type11{
    background: url("../img/pic11.png") no-repeat top center;
}
.type12{
    background: url("../img/pic12.png") no-repeat top center;
}
.topicType{
    font-size: 32px;
    font-weight: normal;
    font-family: scada-regular-webfont;
    text-align: center;
    margin: 45px 0 55px 0;
}
.block4{
    background: #f3f3f3;
    border-top: 1px solid #d0d0d0;
    padding-bottom: 60px;
}

.address{
    margin: 0 auto;
    width: 214px;
    padding: 22px 38px 12px 38px;
    background: #fff;
    border-radius: 5px;
}
.address address{
    font-style: normal;
}
.address a:hover{
    text-decoration: underline;
}
.address a{
    color: #000;
}
.address p{
    margin-bottom: 10px;
}
.phone{
    background: url("../img/phone.png") no-repeat;
    padding-left: 25px;
    font-family: scada-bold-webfont;
    font-size: 22px;
}
.email{
    background: url("../img/email.png") no-repeat 0 3px;
    padding-left: 30px;
    font-family: scada-regular-webfont;
    font-size: 18px;
}
/* --------------- /main-menu --------------- */

.sizeType3{
    background: url("../img/but3-back.png");
    height: 48px;
    line-height: 48px;
}
.sizeType3:hover{
    opacity: 0.8;
}
.sizeType3:active,
.sizeType3:hover{
    background: url("../img/but3-back.png")
}
/* --------------- footer --------------- */
.footer {
    z-index: 2;
    position: relative;
    background: #343434;
    height: 125px;
    margin-top: -125px;
}
.footer__layout {
    width: 940px;
    margin: 0 auto;
    height: 125px;
    position: relative;
}
.footerNav{
    position: absolute;
    top: 51px;
    left: 0;
}
.footerNav li{
    float: left;
    margin-right: 50px;
}
.socialMenu{
    position: absolute;
    top: 42px;
    right: 0;
}
.socialMenu li{
    float: left;
    margin-left: 8px;
}

/* --------------- /footer --------------- */
.popUp{
    z-index: 10000;
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("../img/opacity.png");
}
.popContainer{
    background: url("../img/black-opacity.png");
    padding: 5px;
    border-radius: 3px;
    width: 341px;
    margin: 0 auto;
    margin-top: 50px;
}
.popContainer .popUpForm{
    background: #fff;
    border-radius: 3px;
    position: relative;
}

.popContainer .formHead{
    background: url("../img/form-head.png");
    height: 55px;
    margin-bottom: 17px;
    border-radius: 5px 5px 0 0;
}
.popContainer .formHead h2{
    color: #333333;
    font-family: "scada-bold-webfont";
    font-size: 18px;
    padding: 19px 0 0 23px;

}
.popContainer .closeBut{
    position: absolute;
    text-indent: -5000px;
    top: 20px;
    right: 25px;
    background: url("../img/close-button.png");
    width: 14px;
    height: 14px;
    opacity: 0.8;
    cursor: pointer;
}
.popContainer .closeBut:hover{
    opacity: 1;
}

.popContainer .wraper{

    padding: 17px 0;
    clear: both;
}
.popContainer .inputWrap{
    border: 1px solid #999;
    background: #f3f3f3;
    width: 290px;
    border-radius: 3px;
    height: 28px;
    margin-left: 25px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}
.popContainer .inputWrap input{
    background: none;
    border: none;
    color: #333333;
    position: absolute;
    top: 0;
    left: 0;
    /*height: 28px;*/
    width: 270px;
    padding: 6px 10px;
    font-family: "scada-regular-webfont";
    font-size: 14px;
}
.popContainer label span{
    color: #cc0000;
}
.popContainer label{
    display: block;
    color: #999999;
    margin: 0 0 5px 25px;
    font-size: 14px;
    font-family: scada-regular-webfont;
}
.lineWraper{
    border-top: 1px solid #e4e4e4;
    padding-top: 20px;
}
.sizeType4{
    height: 28px;
    width: 289px;
}