/* Font imports */
@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400,500,400italic);

/* Common styles */
body {
    padding-top: 50px;
	font-family: 'Open Sans', sans-serif;
}
.top-line {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.top-line.simple {
    height: 5px;
    background: url('../img/pixel-white-25.png') 0 0 repeat;
}
.no-bottom-padding { padding-bottom: 0 !important; }
.align-left { text-align: left; }
.align-center { text-align: center; }
.align-right { text-align: right; }
a { outline: none !important; }
p {
    font-size: 10px;
    line-height: 16px;
    color: #fff;
    margin: 0 0 20px;
}
h1, h2, h3 {
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #fff;
}
h1 {
    display: block;
    height: 50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 27px;
    line-height: 50px;
    background: url('../img/h1.png') center bottom no-repeat;
    margin-bottom: 48px;
}
h3 {
    font-size: 23px;
    line-height: 36px;
    margin: -9px 0 41px 0;
}
h3, p, ul.list > li {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
ul.list, ul.list > li {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #fff;
}
ul.list > li {
    padding-left: 15px;
    background: url('../img/list-bullet.png') left center no-repeat;
}
.overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: url('../img/overlay-line.png') 0 0 repeat-x;
}
.overlay > .arrow {
    display: block;
    width: 81px;
    height: 20px;
    margin: 0 auto;
    background: url('../img/overlay-arrow.png') 0 0 no-repeat;
}
.overlay > .semi-arrow {
    display: block;
    width: 81px;
    height: 20px;
    margin: 0 auto;
    background: url('../img/overlay-semi-arrow.png') 0 0 no-repeat;
}
.button, .button:hover, .button:focus, .button:visited, .button:active {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 56px;
    text-align: center;
    text-decoration: none;
    height: 56px;
    color: #fff;
    background: #f39b11;
    border: 0;
    padding: 0 25px;
}
.button.button-small {
    font-size: 14px;
    line-height: 35px;
    height: 35px;
}

/* Header, holds the navigation */
header {
    z-index: 9000 !important;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /*background: url(img/bg.jpg) repeat;*/
    background: #f5f5f5;
}
.sliderWrap{
    overflow: hidden;
}
/*#home{*/
    /*height: 650px !important;*/
    /*width: 60%;*/
/*}*/
.side_form_wraper{
    overflow: hidden;
    padding: 0 20px;
}
.slide_container{
    width: 60%;
    float: left;
}
.side_form_wraper .container{
    width: 40%;
    float: left;
}
.side_form_wraper .container .align-center{
    color: #000;
    text-align: left;
}
.side_form_wraper .col-lg-6{
    float: none !important;
    width: 100% !important;
}
.aroundBlok{
    width: 16%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0 10px;
    margin-bottom: 10px;
    margin-top: 20px;
}
.aroundBlok span{
    display: block;
}

@media screen and (max-width: 1000px){

    body{
        padding-top: 230px !important;
    }
}
@media screen and (max-width: 768px){

    .slide_container{
        width: 100%;
        float: none;
    }
    .side_form_wraper .container{
        width: 100%;
        float: none;
    }
    .aroundBlok{
        width: 33%;
    }

    body{
        padding-top: 80px !important;
    }
}

@media screen and (max-width: 724px){

    .aroundBlok{
        width: 49%;
    }
}



#container {
    margin: 100px auto;
    width: 700px;
    color: #555;
}

#countdown_dashboard {
    height: 110px;
}
.countDownWrpa{
    overflow: hidden;
    width: 425px;
    margin: 0 auto;
    margin-bottom: 10px;
}
.countDownWrpa > span{
    display: block;
}
.dash {
    width: 86px;
    height: 81px;
    background: transparent url('../img/dash.png') 0 0 no-repeat;
    float: left;
    margin-right: 20px;
    position: relative;
}
@media screen and (max-width: 426px){

    .dash {
        width: 86px;
        height: 81px;

        margin-right: 0;
    }
}
.dash .digit {
    font-size: 35pt;
    font-weight: bold;
    float: left;
    width: 41px;
    text-align: center;
    font-family: Times;
    color: #555;
    position: relative;
}

.dash_title {
    position: absolute;
    display: block;
    bottom: 0px;
    right: 6px;
    font-size: 9pt;
    color: #555;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.dev_comment {
    font-size: 14pt;
    color: #777;
    text-align: center;
    font-style: italic;
    margin: 40px 10px;
}

#subscribe_form {
    position: relative;
}

#email_field {
    font-size: 16pt;
    padding: 6px 10px;
    width: 300px;
}

#subscribe_button {
    font-size: 14pt;
    color: #333;
    padding: 4px 8px;
}

.copyright {
    font-size: 9pt;
    color: #333;
    margin: 40px 0px;
}

.faded {
    color: #999;
}

.form_message {
    width: 400px;
    padding: 10px;
    margin: 15px auto;
    display: none;
}

#error_message {
    background-color: #ffe;
    border-left: 5px solid #bb3;
    border-right: 5px solid #bb3;
    color: #770;
}

#info_message {
    background-color: #f0f9ff;
    border: 1px solid #eef;
}

#loading {
    text-align: center;
    margin: 10px;
    display: none;
    position: absolute;
    width: 100%;
    top: 60px;
}

.slideHead{
    text-align: left;
    color: #000;

}
.slideHead p{
    color: #000;
}
.slideHead h2{
    text-align: left;
    color: #000;
}

@media screen and (max-width: 768px){
    .slideHead h2{
        font-size: 20px !important;
    }
    .slideHead p{
        font-size: 14px !important;
    }
    .side_form_wraper .container .align-center{
        font-size: 14px;
    }
}
@media screen and (max-width: 360px){
    .countDownWrpa{
        margin-left: -18px;
    }
}


.navbar {
    z-index: auto;
    border: 0;
    border-radius: 0;
    margin: 0;
}
.navbar-toggle {
    width: 36px;
    height: 30px;
    padding: 0;
    margin: 10px 0 0 0;
    border: 0;
    border-radius: 0;
    background-color: #bf392b;
}
.navbar .logo {
    float: left;
}
.navbar-collapse {
    max-height: 350px;
    border: 0;
}
.navbar-nav {
    min-height: 50px;
    margin: 0 -15px;
	/*background: url(img/bg.jpg) repeat;*/
}
.navbar-nav > li > a {
    display: block;
    height: 50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
    color: #33495d;
    padding-top: 12px;
	text-decoration:underline;
}
.navbar-nav > li > a .number {
    color: #dc6d1d;
    margin-right: 3px;
}
.navbar-nav > li.active > a, .navbar-nav > li.active > a:hover {
    color: #c4117c;
	text-decoration:none;	
}
.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    background: transparent;
}
.navbar-nav > li.active > a .number, .navbar-nav > li > a:hover .number {
    color: #fff;
}

/* parallax element */
.parallax {
    display: block;
    position: relative;
    width: 100%;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.parallax .overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/parallax-overlay.png');
}
.parallax .content {
    display: block;
    position: relative;
    padding: 50px 0;
}

/* Testimonial slider */
.testimonials, .testimonials > li {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.testimonials {
    height: 0;
}
.testimonials > li {
    display: none;
    padding-bottom: 50px;
}
.testimonials > li.active {
    display: block;
}
.testimonials blockquote {
    border: 0;
    margin: 0;
    padding: 0;
}
.testimonials .image {
    display: block;
    width: 140px;
    height: 140px;
    margin: 31px auto 28px auto;
}
.testimonials blockquote {
    text-align: right;
}
.testimonials blockquote p, .testimonials blockquote cite {
    font-size: 11px;
    line-height: 17px;
    color: #fff;
    text-align: center;
}
.testimonials blockquote cite {
    display: inline-block;
    text-align: right;
    padding-left: 33px;
    margin-top: 20px;
    line-height: 13px;
    height: 13px;
    background: url('../img/quotes-small.png') 0 center no-repeat;
}
.testimonials blockquote cite .by {
    font-style: italic;
    font-size: 9px;
    line-height: 14px;
}
.bullets {
    display: block;
    height: 25px;
    text-align: center;
    margin-top: -14px;
    margin-bottom: -9px;
}
.bullets a {
    line-height: 25px;
    background: url('../img/bullet.png') center center no-repeat;
}
.bullets a.active {
    background-image: url('../img/bullet-active.png');
}
.bullets a > img {
    width: 17px;
    height: 25px;
}

/* Section */
section {
    display: block;
    position: relative;
    width: 100%;
    padding: 50px 0;
}
section h1 {
    margin-top: -15px;
}

/* Light section */
section.light {
    background: #e8eff1;
}
section.light h1 {
    color: #777;
}
section.light p {
    color: #333;
}

/* Blue section */
section.blue {
    background: #33495d;
}

/* Red section */
section.red {
    background: #bf392b;
}
section.red h1 {
    background-image: url('../img/h1-red.png');
}

/* Yellow section */
section.yellow {
    background: #f39b11;
}
section.yellow h1 {
    background-image: url('../img/h1-yellow.png');
}

/* Green section */
section.green {
    background: #159f85;
}
section.green h1 {
    background-image: url('../img/h1-green.png');
}

/* Services section */
.services .item h2 {
    text-transform: uppercase;
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 25px;
    color: #fff;
}
.services .item .graphic {
    position: relative;
    display: block;
    width: 180px;
    height: 180px;
    margin: 0 auto 30px auto;
    background: url('../img/services-graphic-dashed.png') center center no-repeat;
    cursor: pointer;
}
.services .item .graphic > .hover, .services .item .graphic > img {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 180px;
    height: 180px;
}
.services .item .graphic > .hover {
    background: url('../img/services-graphic-hover.png') center center no-repeat;
}
.services .item .bottom {
    display: block;
    width: 100%;
    height: 20px;
    margin-bottom: 30px;
    background: url('../img/services-bottom.png') center 0 no-repeat;
}
.services .item:hover .bottom {
    background-image: url('../img/services-bottom-hover.png');
}
.services .item .content {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    text-align: center;
    color: #fff;
}
.services .arrow {
    display: block;
    width: 37px;
    height: 52px;
    margin: 30px auto 30px auto;
    background: url('../img/services-arrow.png') center center no-repeat;
}

/* How can we help section */
.flexslider.mini {
    background: transparent;
    border: 0;
    border-radius: 0;
    margin-bottom: -75px;
}
.flexslider.mini .flex-control-paging li a {
    background: #b6b6b6;
}
.flexslider.mini .flex-control-paging li a.flex-active {
    background: #f39b11;
}
.flexslider.mini .flex-direction-nav {
    display: none;
}

/* Team section */
.team {
    margin-top: 3px;
}
.team .item {
    max-width: 375px;
    margin: 0 auto;
    padding: 30px 0;
    margin-top: 30px;
    color: #777;
    background: #d2dfe3;
}
.team .item:hover {
    color: #fff;
    background: #33495d;
}
.team .item .image {
    display: block;
    margin: 0 auto;
}
.team .item .name {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    text-align: center;
    margin: 29px 0 0 0;
}
.team .item .title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 12px;
    line-height: 12px;
    text-transform: capitalize;
    text-align: center;
    margin: 11px 0 0 0;
}
.team .social, .team .social > li, .team .social > li > a {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}
.team .social {
    width: 160px;
    height: 40px;
    margin: 28px auto 0 auto;
}
.team .social > li, .team .social > li > a {
    width: 40px;
    height: 40px;
    float: left;
}
.team .item .social > li > a {
    font-size: 27px;
    line-height: 40px;
    text-decoration: none;
    text-align: center;
    color: #d2dfe3;
    background: #e8eff1;
}
.team .item:hover .social > li > a {
    color: #33495d;
    background: #3a536a;
}
.team .item:hover .social > li > a:hover {
    color: #fff;
}
.team .item:hover .social > li > a.facebook:hover {
    background: #445ea7;
}
.team .item:hover .social > li > a.twitter:hover {
    background: #2e97e9;
}
.team .item:hover .social > li > a.dribbble:hover {
    background: #f05e95;
}
.team .item:hover .social > li > a.linkedin:hover {
    background: #0072b1;
}

/* The experience (counters) section */
.counters {
    margin-top: 3px;
}
.counters .title {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}
.counters .counter {
    position: relative;
    display: block;
    width: 132px;
    height: 132px;
    margin: 30px auto 28px auto;
    background: url('../img/counter.png');
}
.counters .counter .left, .counters .counter .right {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 66px;
    height: 132px;
    overflow: hidden;
}
.counters .counter .right {
    left: 66px;
}
.counters .counter .right > img {
    margin-left: -66px;
}
.counters .counter .value {
    position: absolute;
    display: block;
    width: 132px;
    height: 132px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 36px;
    line-height: 132px;
    text-align: center;
    color: #fff;
}

/* Our services section */
.vertical-tabs {
    margin-top: 43px !important;
}

/* Responsive tabs */
.resp-arrow {
    display: none;
}
h2.resp-accordion {
    position: relative;
    height: 50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
    text-transform: uppercase;
    text-align: left;
    color: #777;
    padding: 0 15px;
    background: #e8eff1;
    border: #e6d7c9 1px solid;
    border-left: 0 !important;
    border-right: 0 !important;
    border-top: 0px #e6d7c9 solid;
}
.resp-accordion.resp-tab-active {
    color: #fff;
    background: #bf392b !important;
    padding: 0 15px !important;
}
.resp-accordion .number {
    display: block;
    position: absolute;
    top: 0;
    right: 15px;
    height: 50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 28px;
    line-height: 48px;
    color: #d9e0e2;
}
.resp-vtabs .resp-tab-content {
    background: #e8eff1;
    border: #e6d7c9 1px solid;
    border-left: 0;
    border-right: 0;
}
h2.resp-accordion:first-child {
    border-top: #e6d7c9 1px solid !important;
}
.resp-vtabs .resp-tab-content:last-child {
    border-bottom: #e6d7c9 1px solid !important;
}

/* Portfolio section */
.portfolio.flexslider {
    margin-top: 50px;
    margin-bottom: 0;
    background: transparent;
    border: 0;
    border-radius: 0;
}
.portfolio .item, .portfolio .item > img, .portfolio .item > .overlay {
    width: 280px;
    height: 200px;
}
.portfolio .item {
    position: relative;
    overflow: hidden;
}
.portfolio .item > .overlay {
    position: absolute;
    top: 200px;
    left: 0;
    background: #bf392b;
}
.portfolio .item:hover > .overlay {
    top: 0;
}
.portfolio .item > .overlay .title, .portfolio .item > .overlay .subtitle, .portfolio .item > .overlay .likes {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}
.portfolio .item > .overlay .title {
    margin-top: 50px;
}
.portfolio .item > .overlay .subtitle {
    font-size: 12px;
    margin-top: 10px;
}
.portfolio .item > .overlay .subtitle em {
    font-style: normal;
    color: #f29a11;
}
.portfolio .item > .overlay .likes {
    position: absolute;
    bottom: 15px;
    left: 10px;
    width: 100px;
    text-transform: none;
    text-align: left;
    font-size: 12px;
    line-height: 22px;
}
.portfolio .item > .overlay .likes > img {
    width: auto;
    height: auto;
    float: left;
    margin-right: 10px;
}
.portfolio .item > .overlay .zoom, .portfolio .item > .overlay .link {
    position: absolute;
    bottom: 10px;
    display: block;
    width: 33px;
    height: 33px;
    border: #fff 1px solid;
}
.portfolio .item > .overlay .zoom {
    right: 42px;
    background: url('../img/portfolio-zoom.png') center center no-repeat;
}
.portfolio .item > .overlay .link {
    right: 10px;
    background: url('../img/portfolio-link.png') center center no-repeat;
}
.portfolio .flex-direction-nav a.flex-next {
    width: 52px;
    height: 37px;
    top: -50px;
    right: 10px !important;
    background: url('../img/flex-next.png') center center no-repeat;
}
.portfolio .flex-direction-nav a.flex-prev {
    width: 52px;
    height: 37px;
    top: -50px;
    left: 10px !important;
    background: url('../img/flex-prev.png') center center no-repeat;
}
.flex-direction-nav a.flex-prev:before {
    content: '';
}
.flex-direction-nav a.flex-next:before {
    content: '';
}

/* Blog posts section */
.posts, .posts .post {
    display: block;
    width: 100%;
}
.posts {
    margin-bottom: 50px;
}
.posts .post {
    position: relative;
    background: #fff;
    overflow: hidden;
    min-height: 70px;
    height: 70px;
}
.posts .post .image {
    width: 100%;
}
.posts .post .content {
    padding: 30px;
}
.posts .post .content p {
    color: #777;
    font-size: 10px;
    line-height: 16px;
}
.posts .post .line {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 70px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-decoration: none;
    background: url('../img/blog-post-line.png') 0 0 repeat;
}
.posts .post .line .type {
    margin: 10px;
    float: left;
}
.posts .post .line .title {
    display: block;
    float: left;
    font-size: 18px;
    line-height: 22px;
    margin: 22px 0;
    max-width: 50%;
}
.posts .post .line .date {
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    float: right;
    margin: 26px 10px;
}

/* Social icons */
.social-icons {
    font-size: 0;
}
.social-icons > a {
    width: 64px;
    height: 64px;
    display: inline-block;
    overflow: hidden;
    background: #fff;
}
.social-icons > a > img {
    width: 64px;
    height: 140px;
}
@-webkit-keyframes social-forward {
    0% { margin-top: 0; -webkit-transform: scale(1); }
    0.25% { margin-top: 0; -webkit-transform: scale(0.84375) translate(0, -7px); }
    0.75% { margin-top: -64px; -webkit-transform: scale(0.84375) translate(0, -7px); }
    1% { margin-top: -76px; -webkit-transform: scale(1); }
    100% { margin-top: -76px; -webkit-transform: scale(1); }
}
@-webkit-keyframes social-backward {
    0% { margin-top: -76px; -webkit-transform: scale(1); }
    0.5% { margin-top: -64px; -webkit-transform: scale(0.84375) translate(0, -7px); }
    0.75% { margin-top: 0; -webkit-transform: scale(0.84375) translate(0, -7px); }
    1% { margin-top: 0; -webkit-transform: scale(1); }
    100% { margin-top: 0; -webkit-transform: scale(1); }
}
@keyframes social-forward {
    0% { margin-top: 0; transform: scale(1); }
    0.25% { margin-top: 0; transform: scale(0.84375) translate(0, -7px); }
    0.75% { margin-top: -64px; transform: scale(0.84375) translate(0, -7px); }
    1% { margin-top: -76px; transform: scale(1); }
    100% { margin-top: -76px; transform: scale(1); }
}
@keyframes social-backward {
    0% { margin-top: -76px; transform: scale(1); }
    0.5% { margin-top: -64px; transform: scale(0.84375) translate(0, -7px); }
    0.75% { margin-top: 0; transform: scale(0.84375) translate(0, -7px); }
    1% { margin-top: 0; transform: scale(1); }
    100% { margin-top: 0; transform: scale(1); }
}
.social-icons > a:hover > img {
    -webkit-animation: social-forward 65s;
    animation: social-forward 65s;
}
.social-icons > a > img {
    -webkit-animation: social-backward 50s;
    animation: social-backward 50s;
}

/* Contact us section */
.contact-line {
    display: block;
    width: 100%;
    height: 200px;
    position: relative;
    margin-top: 170px;
    margin-bottom: 50px;
}
.contact-line .left, .contact-line .right {
    display: block;
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    text-align: center;
}
.contact-line .left p, .contact-line .right p {
    margin-top: 35px;
    color: #fff;
}
.contact-line .left {
    left: 0;
    background: #33495d;
}
.contact-line .right {
    top: 100px;
    left: 0;
    background: #159f85;
}
.contact-line .arrow {
    position: absolute;
    top: -120px;
    left: 50%;
    margin-left: -61px;
}
.contact-form {
    margin-top: 30px;
    margin-bottom: 50px;
}
.contact-form input, .contact-form textarea {
    width: 100%;
    height: 50px;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 14px;
    line-height: 20px;
    padding: 15px;
    border: 0;
    border-bottom: #ccc 1px solid;
    background: transparent;
    outline: none;
    margin-bottom: 20px;
}
.contact-form textarea {
    height: 190px;
    resize: none;
}
.map {
    width: 100%;
    height: 440px;
}

/* Subscribe section */
.subscribe {
    background: #bf392b;
    padding: 50px 0 20px 0;
    text-align: center;
}
.subscribe p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 22px;
    color: #fff;
    text-align: center;
}
.subscribe input {
    width: 257px;
    height: 50px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 14px;
    line-height: 20px;
    border: 0;
    border-bottom: #e7b4ae 1px solid;
    background: url('../img/mail.png') 10px 7px no-repeat transparent;
    padding: 0 15px 0 48px;
    margin-bottom: 30px;
    outline: 0;
}
.subscribe .button {
    height: 50px;
    margin-bottom: 30px;
}
.subscribe .result {
    width: 320px;
    margin: 10px auto 0 auto;
    color: #fff;
}

/* Footer section */
footer {
    display: block;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    color: #777;
    padding: 50px 0;
}

/* Back to top link */
.to-top {
    z-index: 9000;
    position: fixed;
    right: 0;
    bottom: 0;
}

/* Slider CSS */
.slider, .slider .slide, .slider .slide > * {
    z-index: 3000 !important;
}
.slider {
    position: relative;
}
.slider .slide {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.slider .slide .content {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}
.slider .h1, .slider .h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 30px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}
.slider .h2 {
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    text-transform: none;
}
.slider .button {
    display: block;
    width: 220px;
    height: 60px;
    line-height: 60px;
    margin: 0 auto;
    border: #fff 1px solid;
}
.slider .button-red {
    margin-top: 80px;
    background: #bf392b;
}
.slider .button-green {
    background: #159f85;
}
.slider .or {
    margin: 20px 0;
}
#phone {
	font-size: 24px;
	padding: 18px;
}