.textWrap h2{
    color: #45300f;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 9px;
    text-transform: uppercase;
}
.textWrap p{
    line-height: 20px;
    margin-bottom: 13px;

}
.listType li{
    background: url("../img/dot.png") no-repeat 0 4px;
    padding-left: 10px;
    margin-bottom: 6px;
}
.textWrap{
    margin-top: 25px;
    margin-bottom: 100px;
}
.listType{
    margin-left: 10px;
}