/* css for ltie8 */
/* --------------- fonts --------------- */
@font-face {
    font-family: "gothic";
    src: url("../fonts/gothic.eot");
    font-weight: normal;
    font-style: normal;
}
/* --------------- /fonts --------------- */
.header_top {
    background: url("../img/opacity.png") repeat;
}