/* ?????? ???????? */
#slider {
    width: 264px;
}
/* ????????? ???????? */
.ui-slider {
    position: relative;
}
/* ???????? */
.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 10px;   /* ?????? ?????? ?????? */
    height: 10px;  /* ? ?????? */
    background: green; /* ???????? ???????????? ????????. ??? ????? ?????? ??????, ?????? ?????? ? ?????????? */
    cursor: pointer
}
.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    overflow: hidden;
}
/* ?????????????? ??????? (???? ?????? ?? ??????? ?????? ????????) */
.ui-slider-horizontal {
    height: 10px; /* ?????? ?????? ???????? ??????? */
}
/* ????????????? ???????? */
.ui-slider-horizontal .ui-slider-handle {
    top: 0px;
    margin-left: -6px;
}
.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
    left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
    right: 0;
}
/* ?????????? ?????? ?? ??????? ????? ???????? */
.ui-widget-content {
    border: 1px solid #a2a2a2;
    background: url("../img/range-back.png");
}
/* ?????????? ????????? ??????? (????? ????? ??????????) */
.ui-widget-header {
    border: 1px solid #9dca84;
    background: url("../img/range-green.png");
}
/* ?????????? ??? ?????? ???????? */
.ui-corner-all {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
