.slideWrap{

    margin: 0 auto;
    padding-top: 52px;

}
.ares-slider2 {
    width: 100% !important;
    margin: 0 auto;
    height: 189px !important;
    position: relative;
}
.ares-slider2__item {
    width: 100% !important;
    height: 103px;
    padding-top: 0px !important;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 1;
}
.rightContainer img{
    text-align: center;
}
.rightContainer{
    vertical-align: middle;
    text-align: center;
}
.rightContainer,
.leftContainer{
    position: relative;
    width: 100%;
    height: 189px;
}
.leftContainer img{
    position: absolute;
    bottom: 0;
    left: 20px;
}
.centerText{
    text-align: center;
    color: #671b01;
    font-size: 18px;
    vertical-align: middle;
}
.centerText span{
    display: block;
}
.centerText h2{
    font-size: 35px;
    font-weight: normal;
    margin-bottom: 15px;
}
.centerText p{
    margin-bottom: 10px;
}
.ares-slider2__item > img {
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0;
}
.ares-slider2__item table{
    width: 100%;
}
.ares-slider2__item table td{
    width: 33%;
    vertical-align: middle;
    text-align: center;
}


.ares-slider2__next,
.ares-slider2__prev {
    position: absolute;
    content: '';
    width: 22px;
    height: 34px;
    top: 50%;
    margin-top: -17px;
    cursor: pointer;
    z-index: 2;
}
.ares-slider2__prev {
    background: url("../img/left-gall.png");
    left: 0;
}
.ares-slider2__prev:hover{
    background: url("../img/left-gall-hover.png");
}
.ares-slider2__next {
    background: url("../img/right-gall.png");
    right: 0;
}
.ares-slider2__next:hover{
    background: url("../img/right-gall-hover.png");
}
.ares-slider__points {
    position: absolute;
    bottom: 17px;
    right: 50px;
    margin: 0 !important;
    z-index: 4;
}
.ares-slider__points li {
    width: 38px;
    height: 5px;
    float: left;
    background: #ce5830;
    margin-left: 6px;
    cursor: pointer;
}
.ares-slider__points li:first-child {
    margin-left: 0;
}
.ares-slider__points li.active {
    box-shadow: none;
    background: #fff;
    cursor: default;
}