/*
main styles
version: 15.01.2013

Style to null

fonts

site

header

logo

main-menu

language

footer


--------------- Style to null ---------------*/
HTML, BODY, DIV, SPAN, H1, H2, H3, H4, H5, H6, P, EM, IMG, STRONG, SUB, SUP, B, U, I, DL, DT, DD, OL, UL, LI, FIELDSET, FORM, LABEL, TABLE, TBODY, TFOOT, THEAD, TR, TH, TD, ARTICLE, ASIDE, CANVAS, DETAILS, FIGCAPTION, FIGURE, FOOTER, HEADER, HGROUP, MENU, NAV, SECTION, SUMMARY, TIME, MARK, AUDIO, VIDEO
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    font-size: 100%;
}
A
{
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
TABLE
{
    border-collapse: collapse;
    border-spacing: 0;
}
TD, TD IMG
{
    vertical-align: top;
}
INPUT, SELECT, BUTTON, TEXTAREA
{
    margin: 0;
    font-size: 100%;
}
INPUT[type="text"], INPUT[type="password"], TEXTAREA, INPUT[type="email"], INPUT[type="phone"], INPUT[type="number"]
{
    padding: 0;
    font: 12px Arial, Helvetica, sans-serif;
}
INPUT[type="checkbox"]
{
    vertical-align: bottom;
}
INPUT[type="radio"]
{
    vertical-align: text-bottom;
}
SUB
{
    vertical-align: sub;
    font-size: smaller;
}
SUP
{
    vertical-align: super;
    font-size: smaller;
}
ARTICLE, ASIDE, DETAILS, FIGCAPTION, FIGURE, FOOTER, HEADER, HGROUP, MENU, NAV, SECTION
{
    display: block;
}
UL, OL
{
    list-style: none;
}
HTML
{
    overflow-y: scroll;
    overflow-x: auto;
}
HTML, BODY
{
    height: 100%;
}
BODY
{
    line-height: 1;
    color: #000;
    text-align: left;
    z-index: 1;
    position: relative;
}
INPUT [type='text']
{
    padding: 0;
}
INPUT, SELECT, BUTTON, TEXTAREA
{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
INPUT, TEXTAREA
{
    outline: none;
}
TEXTAREA
{
    resize: none;
    overflow: auto;
}
LABEL, INPUT[type="button"], INPUT[type="submit"], BUTTON
{
    cursor: pointer;
}
A, A:visited
{
    text-decoration: none;
}
A:hover
{
    text-decoration: none;
}
A:focus, A:active
{
    text-decoration: none;
}
INPUT[type="search"]:focus
{
    outline: none;
}
INPUT[type="submit"]::-moz-focus-inner, BUTTON::-moz-focus-inner
{
    padding: 0;
    border: 0;
}
:focus
{
    outline: none;
}
INPUT:invalid
{
    outline: none;
    -moz-box-shadow: none;
    border: none;
}
A:visited
{
    color: #8EA177;
}
::-webkit-input-placeholder
{
    color: #000;
}
:-moz-placeholder
{
    color: #000;
}
.placeholder
{
    color: #000;
}
/*--------------- /Style to null ---------------
--------------- fonts ---------------*/
@font-face
{
    font-family: hagin_caps_medium-webfont;
    src: url("../fonts/hagin_caps_medium-webfont.eot");
    src: url("../fonts/hagin_caps_medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/hagin_caps_medium-webfont.woff") format("woff"), url("../fonts/hagin_caps_medium-webfont.ttf") format("truetype");
}
/*--------------- /fonts ---------------
--------------- site ---------------*/
.site
{
    min-height: 100%;
    min-width: 1024px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.site:after
{
    content: '';
    display: block;
    clear: both;
    width: 100%;
    height: 100px;
}
.site__layout
{
    width: 1024px;
    margin: 0 auto;
}
/*--------------- /site ---------------
--------------- header ---------------*/
.header
{
    position: relative;
    height: 132px;
    z-index: 10;
}
.header .insideHeader
{
    height: 36px;
    background: url("../img/opacity-back.png");
    border-bottom: 2px dotted #000;
}
.address
{
    float: right;
    background: #31767A;
    font-family: hagin_caps_medium-webfont;
    font-size: 18px;
    color: #FFF;
    width: 191px;
    text-shadow: 0 2px 2px #14565A;
}
.address P
{
    height: 36px;
    line-height: 36px;
    font-style: normal;
    text-align: center;
}
/*--------------- /header ---------------
--------------- logo ---------------*/
.logo
{
    position: absolute;
    bottom: 0;
    left: 55px;
}
/*--------------- /logo ---------------
--------------- main-menu ---------------*/
.main-menu
{
    /*[disabled]float:right;*/
}
.main-menu
{
    position: absolute;
    /*[disabled]right:190px;*/
    right: 190px;
}
.main-menu__item
{
    /*[disabled]float:left;*/
    /*[disabled]margin:0 25px 0 0;*/
}
.main-menu__item
{
    float: left;
    margin: 0 25px 0 0;
    position: relative;
}
.main-menu__lnk
{
    text-transform: uppercase;
    color: #B2B2B2;
    display: block;
    line-height: 36px;
    height: 38px;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 1px #000;
    font-family: hagin_caps_medium-webfont;
    font-size: 16px;
}
.main-menu__item_active .main-menu__lnk
{
    color: #D77322;
    text-shadow: 0 1px 1px #FFF;
}
.main-menu__item_active .main-menu__item_active .main-menu__lnk
{
    /*[disabled]color:#D77322;*/
    color: #FFFFFF;
    /*[disabled]text-shadow:0 1px 1px #FFF;*/
    text-shadow: 0 1px 1px #000;
    text-transform: none;
}
.main-menu__item_active .main-menu__lnk:hover
{
    cursor: default;
    color: #D77322;
}
.main-menu__item_active .main-menu__item_active .main-menu__lnk:hover
{
    cursor: pointer;
    /*[disabled]color:#D77322;*/
    color: #FFFFFF;
    text-decoration: underline;
}
.main-menu__lnk:visited
{
    color: #B2B2B2;
}
.main-menu__lnk:hover
{
    color: #FFF;
}
.subMenu
{
    position: absolute;
    top: 38px;
    left: 0;
    display: none;
    padding-bottom: 5px;
    background: url("../img/opacity-back4.png");
}
.subMenu LI
{
    padding: 5px;
}
.subMenu A
{
    color: #FFF;
    font-family: tahoma;
    font-size: 12px;
}
.subMenu A:hover
{
    text-decoration: underline;
}
/*--------------- /main-menu ---------------*/
.site__content
{
}
.imgContainer
{
    margin-top: -132px;
    position: relative;
    margin-bottom: 50px;
}
.imgContainer IMG
{
    display: block;
}
.leftMessageWrap
{
    position: absolute;
    bottom: -8px;
    left: 50%;
    width: 299px;
    margin-left: -150px;
}
.leftMessageBut
{
    display: block;
    background: url("../img/left-button.png");
    width: 299px;
    height: 137px;
    position: relative;
    z-index: 10;
    text-indent: -5000px;
}
.leftMessageBut:hover
{
    opacity: 0.9;
}
.aboutList LI
{
    display: inline-block;
    vertical-align: top;
    width: 290px;
    margin-left: 37px;
}
.counter
{
    width: 54px;
    height: 54px;
    display: block;
    text-align: center;
    color: #FFF;
    font-family: trebuchet;
    font-size: 30px;
    line-height: 54px;
    text-indent: 5px;
    float: left;
}
.oneType
{
    background: url("../img/blue-count.png");
}
.twoType
{
    background: url("../img/black-count.png");
}
.threeType
{
    background: url("../img/orange-count.png");
}
.textAbout
{
    width: 222px;
    float: right;
}
.textAbout H2
{
    font-family: hagin_caps_medium-webfont;
    font-size: 30px;
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: 10px;
}
.textAbout H2 A:hover
{
    text-decoration: underline;
}
.blueTopic A, .blueTopic
{
    color: #31767A;
}
.blackTopic A, .blackTopic
{
    color: #343333;
}
.orangeTopic A, .orangeTopic
{
    color: #FBA430;
}
.textAbout P
{
    color: #7D7D7D;
    font-family: verdana;
    line-height: 19px;
    font-size: 12px;
}
.newsList LI
{
    width: 249px;
    display: inline-block;
    background: #EEEEEE;
    padding: 20px 25px;
    margin-left: 30px;
    position: relative;
    border: 1px dotted #FFF;
}
.newsBlock H3
{
    position: relative;
    color: #7D7D7D;
    font-size: 34px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 25px;
    font-family: hagin_caps_medium-webfont;
}
.newsBlock H3 SPAN
{
    color: #316E72;
    position: relative;
}
.newsBlock H3 SPAN:after
{
    background: url("../img/streath.png");
    width: 16px;
    height: 18px;
    position: absolute;
    top: 0;
    left: -3px;
    content: "";
}
.newsList LI:after
{
    background: url("../img/streath.png");
    width: 16px;
    height: 18px;
    position: absolute;
    top: -8px;
    left: 10px;
    content: "";
}
.newsList LI TIME
{
    display: block;
    margin-bottom: 5px;
    color: #767676;
    font-size: 14px;
}
.newsList LI A:hover
{
    text-decoration: none;
}
.newsList LI A
{
    color: #767676;
    text-decoration: underline;
    line-height: 18px;
}
.aboutList
{
    margin-bottom: 40px;
}
DIV#feedbackFormBox
{
    width: 302px;
    margin: -7px 0 0 -35px;
    padding: 20px 34px 0;
    z-index: 5;
    display: none;
    position: absolute;
    top: 136px;
    left: 0;
    background: url("../img/opacity-back2.png");
}
DIV#feedbackFormBox:after
{
    content: "";
    background: url("../img/arrow-opacity.png");
    width: 370px;
    height: 61px;
    position: absolute;
    bottom: -61px;
    left: 0;
}
#feedbackFormBox DIV.errors
{
    color: #FF6F30;
    margin-bottom: 10px;
}
#feedbackFormBox DIV.success
{
    color: #FF6F30;
    text-align: center;
}
.orderForm:after
{
    /*[disabled]content:"";*/
    /*[disabled]background:url("../img/arrow-opacity.png");*/
    /*[disabled]width:370px;*/
    /*[disabled]height:61px;*/
    /*[disabled]position:absolute;*/
    /*[disabled]bottom:-61px;*/
    /*[disabled]left:0;*/
}
.orderForm
{
    /*[disabled]width:302px;*/
    /*[disabled]margin:-7px 0 0 -35px;*/
    /*[disabled]padding:20px 34px 0;*/
    /*[disabled]z-index:5;*/
    /*[disabled]display:none;*/
    /*[disabled]position:absolute;*/
    /*[disabled]top:136px;*/
    /*[disabled]left:0;*/
    /*[disabled]background:url("../img/opacity-back2.png");*/
}
.orderForm .inputWrap
{
    width: 300px;
    height: 28px;
    border: 1px solid #383432;
    background: url("../img/opacity-back3.png");
}
.orderForm .inputWrap INPUT
{
    height: 28px;
    width: 280px;
    padding: 0 10px;
    border: none;
    background: none;
    color: #FFF;
}
.orderForm LABEL
{
    color: #8E8E8E;
    font-family: tahoma;
    font-size: 14px;
    padding-bottom: 5px;
    display: block;
}
.orderForm LABEL SPAN
{
    color: #FF6F30;
}
.orderForm TEXTAREA
{
    width: 280px;
    height: 107px;
    color: #FFF;
    padding: 10px;
    border: 1px solid #383432;
    background: url("../img/opacity-back3.png");
}
.e-But:hover
{
    opacity: 0.9;
}
.e-But
{
    background: url("../img/submit-back.png");
    height: 49px;
    width: 165px;
    border: none;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    color: #FFF;
    font-size: 18px;
    font-family: hagin_caps_medium-webfont;
}
.orderForm .lineContainer
{
    margin-bottom: 10px;
}
.crumbs
{
    overflow: hidden;
    margin: 0 0 34px 42px;
    font-family: tahoma;
    font-size: 16px;
}
.crumbs LI
{
    float: left;
    font-family: tahoma;
    font-size: 16px;
    margin-right: 5px;
    color: #434343;
}
.crumbs LI A:hover
{
    text-decoration: none;
}
.crumbs LI A
{
    text-decoration: underline;
    color: #434343;
    padding-right: 5px;
}
.crumbs LI SPAN
{
    color: #B9B9B9;
}
.crumbs A:hover
{
    text-decoration: none;
}
.crumbs A
{
    text-decoration: underline;
    color: #434343;
    /*[disabled]padding-right:5px;*/
}
.crumbs SPAN.B_currentCrumb
{
    color: #B9B9B9;
}
.paginator
{
    overflow: hidden;
    margin: 0 0 0 45px;
}
.paginator LI
{
    float: left;
}
.paginator A
{
    font-family: tahoma;
    font-size: 12px;
    color: #5D5D5D;
    text-decoration: underline;
    padding: 3px 5px;
    display: block;
}
.paginator A:hover
{
    text-decoration: none;
}
.paginator A.active
{
    background: #31767A;
    color: #FFF;
    text-decoration: none;
}
.paginator A.leftPag
{
    /*[disabled]background:url("../img/left-pag.png") no-repeat 0 6px;*/
    /*[disabled]padding-left:25px;*/
}
.paginator A.rightPag
{
    /*[disabled]background:url("../img/right-pag.png") no-repeat right 6px;*/
    /*[disabled]padding-right:25px;*/
}
.paginator LI.leftPag A
{
    background: url("../img/left-pag.png") no-repeat 0 6px;
    padding-left: 25px;
}
.paginator LI.rightPag A
{
    background: url("../img/right-pag.png") no-repeat right 6px;
    padding-right: 25px;
}
.sortWrap
{
    overflow: hidden;
    border-bottom: 1px solid #E8E8E8;
    margin-bottom: 16px;
}
.sortWrap UL
{
    float: right;
    margin-bottom: 5px;
    margin-right: 42px;
}
.sortWrap UL LI
{
    float: left;
    margin-left: 15px;
}
.sortWrap UL A:hover
{
    text-decoration: none;
}
.sortWrap UL A
{
    color: #2D2D2D;
    font-family: tahoma;
    font-size: 14px;
    text-decoration: underline;
    padding-right: 15px;
}
.sortWrap UL A.asc
{
    background: url("../img/sort-arrows.png") no-repeat 100% 8px;
}
.sortWrap UL A.desc
{
    background: url("../img/sort-arrows.png") no-repeat 100% -46px;
}
.catalogList
{
    margin-left: 42px;
}
.catalogList LI
{
    overflow: hidden;
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 17px;
    margin-bottom: 14px;
}
.imgWrap
{
    float: left;
    width: 218px;
}
.imgWrap IMG
{
    display: block;
}
.obgect
{
    text-align: center;
    color: #FFF;
    height: 23px;
    line-height: 23px;
    font-size: 16px;
    font-family: tahoma;
    font-weight: normal;
    text-transform: uppercase;
}
.newObject
{
    background: #31767A;
}
.description
{
    width: 422px;
    float: left;
}
.description TABLE
{
    width: 100%;
    color: #5A5A5A;
    font-size: 16px;
    font-family: tahoma;
}
.description TABLE TH
{
    background: #F8F8F8;
    height: 36px;
    vertical-align: middle;
    font-weight: normal;
    padding-left: 20px;
}
.description TABLE TH A
{
    color: #2AB2BA;
    text-decoration: underline;
}
.description TABLE TH A:hover
{
    text-decoration: none;
}
.description TABLE TR TD
{
    height: 36px;
    vertical-align: middle;
}
.description TABLE TR:nth-child(even) TD
{
    background: #F8F8F8;
}
.frestTd
{
    padding-left: 40px;
}
.priceBlock
{
    display: block;
    color: #FFF;
    background: #31767A;
    font-family: arial;
    font-size: 22px;
    width: 143px;
    text-align: center;
    border-radius: 5px;
    height: 36px;
    line-height: 36px;
}
.description TABLE TR TD H3
{
    font-size: 16px;
    font-family: tahoma;
    color: #2CADB4;
}
.buildingType
{
    color: #FF6C00;
}
.mapContainer
{
    float: left;
    width: 300px;
}
.rezervation
{
    background: #E86300;
}
.gallContainer
{
    width: 539px;
    height: 444px;
    float: left;
}
.openTovar
{
    overflow: hidden;
    margin-bottom: 30px;
    margin-left: 45px;
}
.openTovar H2
{
    color: #31767A;
    font-size: 24px;
    font-family: tahoma;
    margin-bottom: 10px;
    font-weight: normal;
}
.bigMapContainer
{
    float: right;
    margin-right: 30px;
}
.bigMapContainer #objmap
{
    margin: 0px;
    padding: 0px;
    width: 380px;
    height: 444px;
}
.openDescription
{
    overflow: hidden;
    margin-left: 45px;
}
.descriptionText
{
    float: left;
    width: 544px;
    margin-right: 27px;
}
.descriptionText H3
{
    font-size: 18px;
    font-family: tahoma;
    color: #249FA6;
    font-weight: normal;
    margin-bottom: 10px;
}
.descriptionText .strongP
{
    color: #434343;
    font-size: 16px;
}
.descriptionText P
{
    font-family: tahoma;
    color: #838383;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 10px;
}
.smallTable
{
    width: 379px;
}
.smallTable .priceBlock
{
    background: none;
    color: #249EA5;
}
.smallTable TABLE TR TD H3
{
    color: #626262;
}
.random
{
    clear: both;
}
.random
{
    overflow: hidden;
    background: url("../img/randomback2.png");
    padding: 15px 40px;
}
.random UL
{
    width: 1200px;
}
.random > P
{
    color: #FFF;
    font-size: 16px;
    margin-bottom: 10px;
    font-family: tahoma;
}
.random LI
{
    float: left;
    background: url("../img/randomback.png");
    width: 180px;
    text-align: center;
    margin-right: 11px;
}
.random LI H4 A:hover
{
    text-decoration: none;
}
.random LI H4
{
    margin-bottom: 5px;
}
.random LI H4 A
{
    color: #FFF;
    text-decoration: underline;
    font-size: 12px;
    font-weight: normal;
    font-family: tahoma;
}
.random LI P
{
    color: #249EA5;
    font-weight: bold;
    font-size: 12px;
    font-family: tahoma;
    margin-bottom: 10px;
}
.cred
{
    margin-top: 20px;
    font-size: 11px;
}
#galleria
{
    height: 444px;
}
.main, .main-menu__item_active .main, #nav1.main-menu__item_active .main-menu__lnk
{
    width: 72px;
    height: 47px;
}
.about, #nav6 .main-menu__lnk, .about, #nav31 .main-menu__lnk
{
    width: 99px;
    height: 47px;
}
.nedvijemost, #nav3 > .main-menu__lnk
{
    width: 120px;
    height: 51px;
}
.building, #nav4 > .main-menu__lnk
{
    width: 121px;
    height: 51px;
}
.bussines, #nav5 > .main-menu__lnk
{
    width: 106px;
    height: 47px;
}
.main-menu__item_active .main, #nav1.main-menu__item_active > .main-menu__lnk
{
    background: url("../img/main-active.png") no-repeat;
}
.main-menu__item_active .about, #nav6.main-menu__item_active > .main-menu__lnk
{
    background: url("../img/about-active.png") no-repeat;
}
#nav31.main-menu__item_active > .main-menu__lnk
{
    background: url("../img/about-active.png") no-repeat;
}
.main-menu__item_active .nedvijemost, #nav3.main-menu__item_active > .main-menu__lnk
{
    background: url("../img/nedvijemost-active.png") no-repeat;
}
.main-menu__item_active .building, #nav4.main-menu__item_active > .main-menu__lnk
{
    background: url("../img/building-active.png") no-repeat;
}
.main-menu__item_active .bussines, #nav5.main-menu__item_active > .main-menu__lnk
{
    background: url("../img/busness-active.png") no-repeat;
}
/*--------------- footer ---------------*/
.footer
{
    z-index: 2;
    position: relative;
    margin-top: -62px;
    height: 62px;
    background: #F4F4F4;
    border-top: 1px solid #E3E3E3;
}
.footer__layout
{
    width: 1024px;
    margin: 0 auto;
    height: 62px;
    position: relative;
    background: #F4F4F4 url("../img/footer-line.jpg") no-repeat bottom center;
}
.saitioria:hover
{
    opacity: 0.8;
}
.saitioria
{
    display: block;
    background: url("../img/saitoria.png");
    width: 70px;
    height: 35px;
    text-indent: -5000px;
}
.copy
{
    position: absolute;
    color: #9D9C9C;
    font-size: 12px;
    top: 23px;
    font-family: tahoma;
    left: 32px;
}
.creaters
{
    position: absolute;
    top: 15px;
    right: 33px;
}
.creaters DT
{
    float: left;
    color: #9D9C9C;
    font-size: 12px;
    font-family: tahoma;
    margin: 12px 5px 0 0;
}
.creaters DD
{
    float: left;
}
/*--------------- /footer ---------------*/
.main-menu__item > UL
{
    position: absolute;
    top: 38px;
    left: 0;
    display: none;
    padding-bottom: 5px;
    background: url("../img/opacity-back4.png");
}
.main-menu__item UL > LI
{
    padding: 5px;
    position: relative;
}
.main-menu__item UL > LI > SPAN, .main-menu__item UL > LI > A
{
    color: #FFF;
    cursor: pointer;
    font-family: tahoma;
    font-size: 12px;
}
.main-menu__item UL > LI > A:hover
{
    text-decoration: underline;
}
.main-menu__item > UL > LI > UL
{
    display: none;
    padding-bottom: 5px;
    position: absolute;
    left: 100%;
    top: 0;
    background: url("../img/opacity-back4.png");
}
.main-menu__layout > LI
{
    float: left;
    margin: 0 25px 0 0;
    position: relative;
}
.main-menu__layout > LI > UL
{
    position: absolute;
    top: 38px;
    left: 0;
    display: none;
    padding-bottom: 5px;
    background: url("../img/opacity-back4.png");
}
.main-menu__layout > LI UL > LI
{
    padding: 5px;
    position: relative;
}
.main-menu__layout > LI UL > LI > SPAN, .main-menu__layout > LI UL > LI > A
{
    color: #FFF;
    cursor: pointer;
    font-family: tahoma;
    font-size: 12px;
}
.main-menu__layout > LI UL > LI > A:hover
{
    text-decoration: underline;
}
.main-menu__layout > LI > UL > LI > UL
{
    display: none;
    padding-bottom: 5px;
    position: absolute;
    left: 100%;
    top: 0;
    background: url("../img/opacity-back4.png");
}



.prev,
.next {
    cursor: pointer;
    background-position: -495px 27px;
    position: absolute;
    left: 0;
    top: 0;
    border: none;
    text-indent: -5000px;
    height: 84px;
    width: 23px;
    z-index: 30;
    opacity: .8;
    padding: 0;
    filter: alpha(opacity=80);
    background-image: url(../img/classic-map.png);
    background-repeat: no-repeat;
}
.gallContainer .next {
    background-position: -578px 27px;
    border-right: none;
    right: 0;
    left: auto;
}

.prev:hover,
.next:hover {
    opacity: 1;
    filter: alpha(opacity=100);
    background-color: #111;
}
.gallery li{
    margin-right: 6px;
}
.littlGall{
    position: relative;
    width: 530px;
}
