@font-face {
    font-family: "arnopro-regular";
    src: url("../fonts/arnopro_regular.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "arnopro-regular";
    src: url("../fonts/arnopro_regular.eot");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "arnopro-italic";
    src: url("../fonts/arnopro-italic.woff") format("woff");
}
@font-face {
    font-family: "arnopro-italic";
    src: url("../fonts/arnopro-italic.eot");
}
@font-face {
    font-family: "arnopro-smbdcaption";
    src: url("../fonts/arnopro-smbdcaption.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "arnopro-smbdcaption";
    src: url("../fonts/arnopro-smbdcaption.eot");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "arnopro-smbdsubhead";
    src: url("../fonts/arnopro-smbdsubhead.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "arnopro-smbdsubhead";
    src: url("../fonts/arnopro-smbdsubhead.eot");
    font-weight: normal;
    font-style: normal;
}



.site_header{
    position: absolute;
    width: 100%;
}

.header_layout{
    margin: 0 auto;
    width: 1025px;
    position: relative;
    z-index: 20;
}

.site_header:after{
    content: '';
    background: url("../img/bkg2.png");
    position: absolute;
    right: 0;
    top:50px;
    width: 369px;
    height: 196px;
    z-index: 10;
}

.site_header:before{
    content: '';
    background: url("../img/bkg1.png");
    position: absolute;
    left: 0;
    top:145px;
    width: 340px;
    height: 252px;
    z-index: 10;
}

.site:before{
    content: '';
    background: url("../img/bkg3.png");
    position: absolute;
    right: 0;
    top:244px;
    width: 219px;
    height: 160px;
    z-index: 10;
}

.site:after{
    content: '';
    background: url("../img/bkg4.png");
    position: absolute;
    right: 0;
    top:404px;
    width: 107px;
    height: 390px;
    z-index: 10;
}

/* ----- header -----*/

.header_layout address{
    font-size: 16px;
    color: #2b4173;
    width: 210px;
    font-family: arnopro-smbdsubhead;
    font-style: normal;
    padding-top: 37px;
    padding-left: 38px;
    line-height: 18px;
    display: inline-block;
}

.header_layout address dt{
    font-size: 14px;
    padding-top: 11px;
}

.header_layout address dd{
    font-size:  20px;
}

.header_layout nav {
    display: inline-block;
    vertical-align: top;
    padding-top: 36px;
    padding-left: 40px;
}

.header_layout nav a{
    font-family: arnopro-smbdcaption;
    font-size: 15px;
    text-transform: uppercase;
    color: #2b4173;
    padding-right: 36px;
    letter-spacing: 1px;
}

.header_layout nav .active{
    color: #d0d2d3;
}

.header_layout nav a:hover{
    color: #5d78b4;
}

.header_layout .logo{
    margin-top: -69px;
    margin-left: 433px;
}

/*----- site_content -----*/

.site_content {
    width: 1025px;
    padding-top: 266px;
    margin: 0 auto;
    z-index: 0;
}

.site_content .slide{
    border: solid 1px #A1A6C2;
    padding: 25px;
    display: inline-block;
    margin-left: 84px;
}

.site_content p{
    font-family: arnopro-italic;
    font-size: 23px;
    color: #434d7b;
    text-align: center;
    margin-left: 55px;
    margin-right: 55px;
    margin-top: 23px;
    margin-bottom: 35px;
    line-height: 26px;
}

/* ---- footer ---- */

.site_footer {
    width: 985px;
    height: 40px;
    border-top: solid 1px #A1A6C2;
    margin-left: 20px;
    padding-top: 12px;
}

.site_footer span{
    font-family: arnopro-regular;
    font-size: 15px;
    color: #434d7b;
    line-height: 40px;
    display: inline-block;
    vertical-align: top;
}

.site_footer .social{
    margin-left: 633px;
}

.site_footer a{
    padding-left: 5px;
}

.site_footer a:hover{
    opacity: 0.8;
}