/* css for ltie8 */
/* --------------- fonts --------------- */
@font-face {
    font-family: "helveticaneuecyr-medium";
    src: url("../fonts/helveticaneuecyr-medium.eot");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "HelveticaNeueCyr-Light";
    src: url("../fonts/helveticaneuecyr-light.eot");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "HelveticaNeueCyr-Roman";
    src: url("../fonts/helveticaneuecyr-roman.eot");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "HelveticaNeueCyr-Thin";
    src: url("../fonts/helveticaneuecyr-thin.eot");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "HelveticaNeueCyr-Black";
    src: url("../fonts/helveticaneuecyr-black.eot");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "HelveticaNeueCyr-Bold";
    src: url("../fonts/helveticaneuecyr-bold.eot");
    font-weight: normal;
    font-style: normal;
}
/* --------------- /fonts --------------- */
.ares-slider__points{
    background:transparent;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#80000000,endColorstr=#80000000);
    zoom: 1;
}
.ares-slider span{
    background:transparent;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#80000000,endColorstr=#80000000);
    zoom: 1;
}