/* css for ltie8 */
/* --------------- fonts --------------- */
@font-face {
    font-family: "Gotham Narrow";
    src: url("../fonts/gothaprobol.eot");
    font-weight: normal;
    font-style: normal;
}
/* --------------- /fonts --------------- */