@font-face {
    font-family: "appetite-italic";
    src: url("../fonts/appetite-italic.eot");
}
@font-face {
    font-family: "appetite";
    src: url("../fonts/appetite.eot");
}
@font-face {
    font-family: "helveticaneue";
    src: url("../fonts/helveticaneuecyr-medium.eot");
}