.wateherGall{
    position: relative;
    padding: 0 0 111px 124px;
}
.prev{
    background: url("../img/gall-left.png");
    width: 23px;
    height: 205px;
    text-indent: -5000px;
    border: none;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
}
.next{
    background: url("../img/gall-right.png");
    width: 23px;
    height: 205px;
    text-indent: -5000px;
    border: none;
    padding: 0;
    position: absolute;
    top: -87px;
    right: 50px;
}

.wateherGallCont li{
    width: 235px;
    background: url("../img/arrow.png") no-repeat right 12px;
    padding-right: 10px;
    font-family: myriadpro-regular;
    height: 27px;
    overflow: hidden;
    float: left;
    margin-right: 30px;
}
.wateherGallCont li a{
    color: #464646;
    font-size: 14px;

}
.wateherGallCont li a > span{
    margin-top: 11px;
    display: inline-block;
    vertical-align: top;
    margin-right: 14px;
}
.wateherGallCont li a img{
    display: inline-block;
    vertical-align: top;
}
.wateherGallCont li a  .degree{
    color: #ffcd01;
    font-size: 24px;
    display: inline-block;
    margin-top: 3px;
}
.gallery .active span{
    font-weight: bold;
    display: inline-block;
}
.wateherGallCont  .lastTemp{
    background: none;
}
.wateherGallCont{
    overflow: hidden;
}
