/* css for ltie8 */
/* --------------- fonts --------------- */
@font-face {
    font-family:'HeliosThin';
    src: url("../font/heliosthin.eot");
    font-weight: normal;
    font-style: normal;
}
/* --------------- /fonts --------------- */