/*

version : 04.10.2013

    header

    menu

    tabs

    footer

*/

@font-face {
    font-family: "opensans";
    src: url("../fonts/opensans-regular.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "opensans";
    src: url("../fonts/opensans-regular.eot");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "freeset";
    src: url("../fonts/freeset-bold.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "freeset";
    src: url("../fonts/freeset-bold.eot");
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: #000000;
}
.site {
    background: url("../img/bkg.jpg") no-repeat center top;
}


/*----------- header ------------*/
.top__menu{
    background: url("../img/top__menu__bkg.png") repeat-x;
    width: 100%;
    height: 29px;
}
.top__menu .top__menu__content {
    margin: 0 auto;
    width: 975px;
    padding-left: 40px;
    position: relative;
}
.top__menu .top__menu__content a{
    display: inline-block;
    font-family:arial ;
    font-size: 14px;
    color: #ffffff;   
    line-height: 27px;
}
.top__menu__content .office{
    padding-left: 22px;
    padding-right: 17px;
    background: url("../img/office.png") no-repeat 3px 7px;
}
.top__menu__content>a:hover{
    text-decoration: underline;
}
.top__menu__content .social{
    position: absolute;
    display: inline-block;
    right: 36px;
    top:0;
}
.social span{
    font-family: arial;
    font-size: 10px;
    color: #ffffff;
    display: inline-block;
    vertical-align: top;
    padding-top: 10px;
}
.social a {
    display: inline-block;
    padding-left: 4px;
    padding-top: 5px;
}
.social a:hover{
    opacity: 0.7;
}
/*----------- menu ---------------*/
.menu {
    width: 100%;
    height: 39px;
    background: url("../img/menu__bkg1.png") top repeat-x;
}
.menu__content{
    width: 935px;
    height: 39px;
    margin: 0 auto;
    background: url("../img/menu__bkg2.png");
    position: relative;

}
.menu__content a {
    display: inline-block;
    font-family: arial;
    font-size: 14px;
    color: #ffffff;
    height: 30px;
    margin-top: 4px;
    padding-left: 19px;
    padding-right: 18px;
    line-height: 28px;
    border-radius: 4px;
    margin-left: 13px;
}
.menu__content a:first-child{
    margin-left: 0;
}
.menu__content a:hover{
    background-color: #bd0e75;
}
.menu__content:before{
    content: '';
    background: url("../img/corner__left.png");
    width: 27px;
    height: 31px;
    left: -27px;
    bottom: 0;
    position: absolute;
}
.menu__content:after{
    content: '';
    background: url("../img/corner__right.png");
    width: 24px;
    height: 31px;
    right: -24px;
    bottom: 0;
    position: absolute;
}
.menu__content .active{
    background-color: #bd0e75;
}
/*----------- menu ---------------*/
.header__content{
    width: 965px;
    position: relative;
    margin: 0 auto;
    padding-top: 24px;
    margin-bottom: 15px;
}
.logo{
    display: inline-block;
}
.search{
    display: inline-block;
    vertical-align: top;
    width: 321px;
    height: 37px;
    background: url("../img/search__bkg1.png");
    padding-left: 16px;
    margin-top: 13px;
    border-radius: 4px;
}
.search span{
    font-family: arial;
    font-size: 12px;
    color: #434343;
    padding-right: 6px;
    line-height: 36px;
    vertical-align: top;
}
.search .text1{
    border: none;
    background: url("../img/search__bkg2.PNG") repeat-x;
    width: 210px;
    height: 30px;
    margin-top: 4px;
    vertical-align: top;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
}
.search .search__btn{
    border: none;
    background: url("../img/search__btn.png");
    width: 40px;
    height: 31px;
    margin-top: 3px;
}
.search__btn:hover{
    opacity: 0.7;
}
.basket{
    display: inline-block;
    background: url("../img/basket__bkg.png");
    width: 192px;
    height: 35px;
    border: solid 1px #d48200;
    border-radius: 4px;
    position: relative;
    margin-top: 14px;
    margin-left: 3px;
    vertical-align: top;
}

.basket span{
    font-family: arial;
    font-size: 14px;
    color: #8f3a00;
    font-weight: bold;
    padding-left: 12px;
    line-height: 37px;
    vertical-align: top;
}
.basket span:after{
    content: '';
    position: absolute;
    background: url("../img/basket.png");
    height: 24px;
    width:28px;
    top:5px;
}
.basket a{
    display: inline-block;
    width:42px ;
    height: 28px;
    border: solid 1px #e28d00;
    background: url("../img/basket__bkg1.png");
    margin-left: 30px;
    margin-top: 3px;
    border-radius: 4px;
    text-align: center;
    line-height: 28px;
    font-family: arial;
    font-size: 14px;
    color: #ffffff;
}
.basket a:hover{
    text-decoration: underline;
}
.tel{
    font-family: arial;
    font-size: 20px;
    color: #ffffff;
    text-shadow: 2px 2px 5px  #000000;
    float: right;
    margin-top: -18px;
    margin-right: 13px;
}

/*--------------- tabs --------------*/
.tabs {
    width: 851px;
    height: 273px;
    padding: 3px 3px 2px;
    background: #0599dc;
    position: relative;
    margin-left: 51px;
    margin-top: 28px;
    margin-bottom: 37px;
    font-family: "opensans";
}
.tabs:after{
    content: '';
    background: url("../img/tabs-shadow.png");
    width: 964px;
    height: 130px;
    position: absolute;
    bottom: -50px;
    left: -52px;
    z-index: 1;
}
.tabs dt {
    display: block;
    width: 152px;
    position: relative;
    text-transform: uppercase;
    z-index: 3;
    height: 91px;
    cursor: pointer;
    background: #3b3b3b;
    background: -moz-linear-gradient(top,  #3b3b3b 0%, #1d1d1d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3b3b3b), color-stop(100%,#1d1d1d));
    background: -webkit-linear-gradient(top,  #3b3b3b 0%,#1d1d1d 100%);
    background: -o-linear-gradient(top,  #3b3b3b 0%,#1d1d1d 100%);
    background: -ms-linear-gradient(top,  #3b3b3b 0%,#1d1d1d 100%);
    background: linear-gradient(to bottom,  #3b3b3b 0%,#1d1d1d 100%);
}
.tabs dt.active:after {
    content: '';
    position: absolute;
    background: url("../img/tabs-arrow.png");
    width: 10px;
    height: 20px;
    right: -10px;
    top: 35px;
}
.tabs dt:hover {
    display: block;
    width: 152px;
    text-transform: uppercase;
    height: 91px;
    cursor: pointer;
    background: #4C4C4C;
    background: -moz-linear-gradient(top,  #4C4C4C 0%, #1d1d1d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4C4C4C), color-stop(100%,#1d1d1d));
    background: -webkit-linear-gradient(top,  #4C4C4C 0%,#1d1d1d 100%);
    background: -o-linear-gradient(top,  #4C4C4C 0%,#1d1d1d 100%);
    background: -ms-linear-gradient(top,  #4C4C4C 0%,#1d1d1d 100%);
    background: linear-gradient(to bottom,  #4C4C4C 0%,#1d1d1d 100%);
}
.tabs dt.active {
    background: #21c3ff;
    background: -moz-linear-gradient(top,  #21c3ff 0%, #0092d6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#21c3ff), color-stop(100%,#0092d6));
    background: -webkit-linear-gradient(top,  #21c3ff 0%,#0092d6 100%);
    background: -o-linear-gradient(top,  #21c3ff 0%,#0092d6 100%);
    background: -ms-linear-gradient(top,  #21c3ff 0%,#0092d6 100%);
    background: linear-gradient(to bottom,  #21c3ff 0%,#0092d6 100%);
}
.tabs dt span {
    display: table-cell;
    vertical-align: middle;
    height: 91px;
    width: 152px;
    text-align: center;
    color: #fff;
    font-size: 18px;
}
.tabs dd {
    position: absolute;
    z-index: 2;
    top: 3px;
    left: 155px;
    display: none;
}
/*--------------- /tabs --------------*/
/*----------- /header ------------*/
/*-------------- footer -----------*/

.site__footer {
   background-color: #000000;
    position: relative;
}
.footer__nav{
    display: inline-block;
    padding-top: 14px;
    padding-left: 34px;
    padding-bottom: 25px;
    background: url("../img/footer__bkg.png");
}
.footer__nav a{
    font-family: arial;
    font-size: 12px;
    color: #ffffff;
    padding-right: 21px;
}
.footer__nav a:hover{
    text-decoration: underline;
}
.copy{
    display: inline-block;
    padding-top: 17px;
    padding-bottom: 26px;
    padding-right: 36px;
    padding-left: 38px;
    margin-left: -4px;
    background: url("../img/copy.png");
}
.copy p{
    font-family: arial;
    font-size: 12px;
    color: #ffffff;
    text-shadow: 2px 2px 5px  #000000;

}
.site__footer span{
    font-family: opensans;
    font-size: 13px;
    color: #ffffff;
    display: inline-block;
    margin-top: 23px;
    margin-left: 31px;
}
.site__footer span a{
    font-family: opensans;
    font-size: 13px;
    color: #0397da;

}
.site__footer span a:hover{
    text-decoration: underline;
}
.social__copy {
 position: absolute;
    right: 20px;
    top: 70px;
}
.social__copy span{
    font-family: arial;
    font-size: 10px;
    color: #ffffff;
    display: inline-block;
    margin-top: 0;
    margin-left: 0;
    vertical-align: top;
    padding-top: 15px;
}
.social__copy a {
    display: inline-block;
    padding-left: 6px;
    padding-top: 5px;
}
.social__copy a:hover{
    opacity: 0.7;
}

/* -------------- /footer -------------*/